[2022-02-26 20:48] Arriven opened #1 "Add build job for every PR and push to main"
Sometimes I edit the code directly through the web interface and that may lead to stupid mistakes :)

[2022-02-27 10:10] Brukkil commented on #1
Do you need help with it?

[2022-02-27 11:23] Arriven opened #2 "Metrics"
It'd be good to have more informative indicators on the tool progress.
Potential metrics:
- Amount of traffic sent per job/job type/overall
- Statuses of targets (at least http)
- CPU/RAM/Network usage
The most important metric would be the overall amount of traffic.
To avoid impact on performance and stability please implement it so that worker threads populate some thread safe structures with me

[2022-02-27 11:57] Arriven commented on #1
@Brukkil Sorry, didn't notice it before implementing and it's already done.
Poke me if you want to help and be added to the slack channel I've recently created to organize cooperation

[2022-02-27 11:57] #1 closed

[2022-02-27 12:17] Arriven commented on #2
This is needed in order for coordinators to understand how many resources they have to better choose attack targets according to that

[2022-02-27 12:23] Arriven opened #4 "Define and implement global metrics storage with thread-safe read-write operations to be used by other parts"

[2022-02-27 12:23] Arriven opened #5 "Implement background thread to read and output these metrics into logs on regular interval"

[2022-02-27 12:23] Arriven opened #6 "Integrate write hooks to metrics storage into actual worker code"

[2022-02-27 12:46] Arriven opened #7 "Implement or integrate more sophisticated attack patterns"
syn-flood already integrated from https://github.com/bilalcaliskan/syn-flood

Use this commit as an example for integrations https://github.com/Arriven/db1000n/commit/9470ea16033a140cd130b722a7693d896988b9ac

List of potential options:

- [x] #8
- [x] #15
- [x] #16

[2022-02-27 13:15] Arriven commented on #7
Feel free to add more options with technical info, I'll be creating sub-tasks

[2022-02-27 13:15] Arriven opened #8 "DNS stress"
- could integrate https://github.com/MickaelBergem/dnsstresss/blob/master/dnsstresss.go

[2022-02-27 13:19] o-volkov commented on #7
slowloris - https://github.com/valyala/goloris

[2022-02-27 13:20] Arriven opened #9 "Improve logging"
Logs are formatted pretty poorly right now. Ideally we want to have an ability to write logs to different log levels (debug, info, warning, error, etc.) with better formatting.
After that we'd also need a cmdline option to set minimal logging level with everything below turning into noop to not spam users with debug logs and minimize performance impact

[2022-02-27 13:24] Arriven commented on #9
Still need to implement disabling particular log levels

[2022-02-27 13:50] Arriven commented on #4
Implemented in https://github.com/Arriven/db1000n/commit/c2186cf9cfdb9b1a5c0ca1affab6773bc0857736

[2022-02-27 13:50] #4 closed

[2022-02-27 14:15] Arriven commented on #9
Implemented in https://github.com/Arriven/db1000n/commit/7728c69990055eaacd903501c17f60a04bb55511

[2022-02-27 14:15] #9 closed

[2022-02-27 15:02] Arriven commented on #6
Integrated basic implementation, need to improve and all the protocol info not directly exposed to go

[2022-02-27 15:02] #5 closed

[2022-02-27 15:03] #6 closed

[2022-02-27 15:04] Arriven opened #12 "(improve metrics) track traffic generated by protocol headers and utility messages not exposed to go runtime"

[2022-02-27 15:41] lonli078 commented on #8
I will do it

[2022-02-27 18:09] Arriven opened #15 "slowloris"
integrate https://github.com/valyala/goloris

[2022-02-27 18:10] Arriven opened #16 "httpstorm"

[2022-02-27 18:47] zmitry opened #18 "better list of resources to attack."
gather list from different places https://t.me/itarmyofukraine2022.

[2022-02-27 18:48] zmitry commented on #15
will take it

[2022-02-27 18:51] zmitry opened #19 "Gather list of free vpns and best vpn locations to use(ideally russian)"
ideally it would be good to spin up russian vpn for attacks

[2022-02-27 18:52] zmitry commented on #19
tunnel bear gives 10gb of traffic for free
https://www.tunnelbear.com/

swiss and Bulgaria seems to work fine for russia.

[2022-02-27 18:53] sanohin commented on #19
Free with a promocode
https://my.clearvpn.com/promo/redeem?code=SAVEUKRAINE

[2022-02-27 18:59] Arriven commented on #18
You can also go ahead and add those targets through a PR here https://github.com/db1000n-coordinators/LoadTestConfig

[2022-02-27 20:26] zmitry opened #22 "bash and power-shell script of ease of installation"
We need script similar to brew and other single line install scripts which will install appropriative binary/os and run the code.

[code]

[2022-02-27 20:30] zmitry commented on #15
https://github.com/Arriven/db1000n/pull/21

[2022-02-28 08:01] #22 closed

[2022-02-28 09:24] sanohin commented on #18
`https://api.mosgorpass.ru/v8.2/stop` - query all bus stops
`https://api.mosgorpass.ru/v8.2/stop/{{ stop_id }}` - `stop_id` from the list from the prev endpoint

[2022-02-28 12:16] Arriven opened #28 "Document config"
Write understandable documentation for the config so that people could use their own setup when deploying to clusters

[2022-02-28 13:50] maxkoshevoi commented on #19
[UrbanVPN](https://www.urban-vpn.com/) is also a possible candidate. It worked well before, needs validation if it works now

[2022-03-01 12:22] Arriven opened #34 "Add ability to configurate http/socks proxies via config for each attack"

[2022-03-02 08:25] AndriiNytsyk opened #47 "Crash on DigitalOcean droplet"
Tool crashes on DigitalOcean droplet (Shared CPU, 2 vCPUs, 4 GB, 25 GB, 4 TB). Startup method: docker install.

goroutine 44381 [running]:
math/rand.(*Rand).Intn(0x80acea, 0x46817b)
        /usr/local/go/src/math/rand/rand.go:168 +0x65
math/rand.Intn(...)
        /usr/local/go/src/math/rand/rand.go:337
main.httpJob.func1(0xc003364d00)
        /usr/src/app/main.go:229 +0x45
net/http.(*Transport).co

[2022-03-02 10:32] Arriven commented on #47
@AndriiNytsyk Can you send the config you are using in case it's not default?

[2022-03-02 10:33] Arriven opened #49 "Add DNS protocol support to packetgen jobs"
see https://pkg.go.dev/github.com/google/gopacket/layers#DNS for reference

[2022-03-02 10:45] AndriiNytsyk commented on #47
I use default configuration according to instruction "docker install".

[2022-03-02 16:32] scamp commented on #47
Please add swapfile:
 dd if=/dev/zero of=/swapfile bs=1M count=1024
 mkswap /swapfile
 chmod 600 /swapfile
 swapon /swapfile

[2022-03-02 18:10] AndriiNytsyk commented on #47
I've checked proposed solution but it didn't help. Swap size range I used: 600 MB - 8 GB

panic: invalid argument to Intn

goroutine 30540 [running]:
math/rand.(*Rand).Intn(0x80acea, 0x46817b)
        /usr/local/go/src/math/rand/rand.go:168 +0x65
math/rand.Intn(...)
        /usr/local/go/src/math/rand/rand.go:337
main.httpJob.func1(0xc000dde500)
        /usr/src/app/main.go:229 +0x45
net/http.(*Tr

[2022-03-02 20:36] Arriven commented on #47
ok, I guess I know what's happening, I didn't consider the case when proxylist is a valid json but has no proxy entries in it, should be easy to fix

[2022-03-02 20:40] #47 closed

[2022-03-02 20:55] Arriven commented on #47
@AndriiNytsyk check v0.5.8, although it shouldn't have been crashing since some earlier release (checking which one rn)

[2022-03-02 21:45] AndriiNytsyk commented on #47
Fixed on v0.5.8.
Thanks!

[2022-03-03 14:19] mik9 opened #54 "Unusable on cloud servers (OOM)"
Eats 1Gb RAM in few seconds and hangs machine.
Tried running docker image on Linux.

[2022-03-03 14:24] makbar1234 opened #55 "Security issue because of public repo"
Росіяни чи про-російськи можуть взяти ваш код, підправити шлях до конфігу - і досити українські ресурси!

сховайте код, не робіть роботу за окупанта
роздавайте докер імідж і то краще б якось обережно імідж робити, щоб код не взяли звідти

[2022-03-03 14:36] antl31 opened #57 "Question: How this program works?"
Hello dear Author. I have tested your program wth custom config on my default apache server. Config has type: http , get method.
Also i have tested other tools, https://github.com/codesenberg/bombardier and https://github.com/MHProDev/MHDDoS
So you can see that bombarier has a lot of RPC (requests per second) and Mhddos can open a lot of socket connections.
Cpu usage also is very tiny value, so I

[2022-03-03 14:40] MaxGenash commented on #54
The same for me:
[code]

[2022-03-03 14:41] Zip753 commented on #55
з одного боку так, але з іншого боку і так чат в телеграмі відкритий, тож великої секретності ми не заховаємо в будь якому випадку

[2022-03-03 15:11] WeGoToMars opened #58 "Only seems to attack 3 IPs"
With -i 0 flag on launch, the only IPs visible in the log are
`[DEBUG] 194.54.14.187:53 started at XYZ`
`[DEBUG] 194.54.14.186:53 started at XYZ`
`[DEBUG] 194.67.2.109:53 started at XYZ`
No other targets are visible

Sometimes there are fail messages like
`[DEBUG] GET https://bezformata.com/ failed at 1646319728 with code 403`

With only 3 targets working out of 59, it doesn't seem to be effective

[2022-03-03 16:20] artemkomyshan commented on #54
Same for me with the manual build and run.

[2022-03-03 17:06] Firefret opened #62 "fetching json config: unexpected end of JSON input"
Title

[2022-03-03 17:07] b0nn1e opened #63 "Docker stopped after several seconds"
Hi!

After several second docker has been stopped. Log below

[code]

Can you help with the fix?

[2022-03-03 17:41] horodchukanton commented on #19
windscribe 30gb with promo ПИЗДЕЦ

[2022-03-03 18:12] jdoe7865623 commented on #54
Works on machines with 2GB RAM. At 1GB indeed gets killed on OOM. Until this is fixed, stick to 2 GB machines.

[2022-03-03 18:26] Arriven commented on #54
Considering that there are workarounds I'll set a low priority to this issue for now. If you want to help with debugging this you can consider creating custom configs that only use single job and see how much resources they use - I think that the amount of RAM is directly proportional to the amount of jobs used. Another possible explanation could be that the OS needs to allocate some RAM to store

[2022-03-03 18:33] Arriven commented on #55
In theory yes, in reality it is a question of organization and resources and for now the pros of having open source approach (trust of users and collaboration: I think around 10% of the work here is done by people who just decided to help and could do it because it's open but the number will grow as the app gets more popular) outweigh the cons. Also it's not a unique idea and there are other open

[2022-03-03 18:35] bunge12 commented on #58
My output looks different, but I can also see only one IP (`178.248.236.218`)

![image](https://user-images.githubusercontent.com/54365622/156629706-c2584b85-9ae7-4f05-8519-f0ad9218b646.png)

[2022-03-03 18:40] Arriven commented on #58
@alextatarinov @arthur2406 @bunge12 you're using a mode that only shows important logs, the IP there is from one of the experimental jobs that doesn't respect that (and there's already a bit more effective job with the same functionality, we just didn't get to reconfiguring that target yet). If you want to see all the info - add `-l 0` to the commandline arguments to enable debug logging (but be c

[2022-03-03 18:44] Arriven commented on #62
I don't remember if it was a warning or an error. I think it was a warning and thus not critical to the performance of the tool. Anyway the latest release (v0.5.9) already has this fixed and further hardened so I'm closing the issue (feel free to reopen if you think it's still an issue).

[2022-03-03 18:44] #62 closed

[2022-03-03 18:48] Arriven commented on #63
How much RAM is allocated to docker? See #54 as it seems to have pretty similar symptoms.
If it turns out to be something else and increasing the allocated RAM doesn't fix the issue feel free to reopen the issue and I'll try to look more into it.

[2022-03-03 18:48] #63 closed

[2022-03-03 18:50] #15 closed

[2022-03-03 18:50] #16 closed

[2022-03-03 18:54] WeGoToMars commented on #58
@Arriven downloaded latest build for amd64, running on win11
here is a piece of the log I'm seeing https://pastebin.com/raKTKG8n, it's not a full minute because pastebin has limit for free users, but it really stays the same.

On a side note, there seems to be some kind of an error with calculating the speed, it seems to drift upwards but network activity in task manager never changes (~2.5 mbps u

[2022-03-03 19:24] kuzm1ch commented on #55
completely agree to have it opensource. At list people should be aware what they are running on their machines.

[2022-03-03 19:33] Arriven commented on #57
So there are couple things I'd like to note here:

- This tool supports not only HTTP/HTTPS requests but also TCP/UDP/IP flood configurable enough to support more complex attack patterns like syn flood (and the plan is to introduce more and more options as the time goes)
- If we are talking about using simple ddos that has its goal as overloading the server with the sheer amount of traffic - I don

[2022-03-03 19:33] #57 closed

[2022-03-03 19:43] Andrii-L-DDoSer commented on #58
My results:

`docker run --rm -it ghcr.io/arriven/db1000n:latest`

<img width="1479" alt="Screenshot 2022-03-03 at 20 43 07" src="https://user-images.githubusercontent.com/100500001/156640786-a32180be-bcbe-44fe-9cfc-74aa88c78496.png">

[2022-03-03 19:51] Arriven commented on #58
@WeGoToMars the log you provided this time also doesn't seem to include debug logs :)
The main reason network usage drifts up and down here is that the job outputting it's IP doesn't contribute to the overall metrics (it's simply an integrated module and will be replaced by other, more effective job). You can try out the backup config embedded into the app (it uses latest features) in the latest r

[2022-03-03 20:10] Wirtos opened #67 "Docker image won't run on arm64 devices"
`WARNING: The requested image's platform (linux/amd64) does not match the detected host platform (linux/arm64/v8) and no specific platform was requested`
Probably should be universal single-image-fits-all for easier scaling?

[2022-03-03 20:11] b0nn1e commented on #54
What is the best VPS configuration for this docker image?

[2022-03-03 20:16] WeGoToMars commented on #58
@Arriven `-c httpsL//blah` completely fixed the issue for me, it now works on multiple IPs and shows logs correctly. Thanks!

[2022-03-03 20:16] #58 closed

[2022-03-03 20:22] bunge12 opened #69 "Update Google Doc with latest versions"
I can volunteer to keep updated :)

[2022-03-03 20:47] b0nn1e commented on #54
Works good with 3 CPU 4 GB RAM

[2022-03-03 20:59] Arriven commented on #67
Yup, need to take a look into it

[2022-03-03 21:00] Arriven commented on #69
I'll poke guys who manage it and suggest them your help

[2022-03-03 21:06] Arriven commented on #67
I anyone already knows how to do it - feel free to contribute

[2022-03-03 21:55] Bleach665 commented on #67
Also pls fix this for ````install.sh````.

[2022-03-03 22:04] izac1 opened #72 "Panic"
[code]

[2022-03-03 23:54] vinnik-dmitry07 opened #73 "Маловато запросов в секунду можно в ~10 раз лучше"
![image](https://user-images.githubusercontent.com/24797359/156672647-2fac3e52-f41d-4a93-be05-6a253937c1f3.png)
![image](https://user-images.githubusercontent.com/24797359/156672682-82b957b9-7ab8-41e9-91f5-312533fa1337.png)
Посмотрите сорсы LOIC:
https://github.com/NewEraCracker/LOIC

[2022-03-04 07:16] mvkorobkov opened #75 "ERRO[0174] error waiting for container: EOF"
останавливается по ошибке
добавьте докеркомпоз с авторестартом и заодно многопоточностью

[2022-03-04 07:33] mvkorobkov commented on #75
docker-compose.yml:

version: '3'
services:
  d1:
    image: ghcr.io/arriven/db1000n:latest
    restart: always

-----
docker-compose up --scale d1=5

[2022-03-04 08:05] mvkorobkov commented on #75
похоже падает сам докер, нужно другое решение

[2022-03-04 08:05] #75 closed

[2022-03-04 08:42] Arriven commented on #72
The stack looks like crash due to OOM - it lacks RAM to parse the config and attack all the targets it's configured to. Check #54 for possible workarounds and more info

[2022-03-04 08:42] #72 closed

[2022-03-04 08:46] Arriven commented on #75
Feel free to make a pull request with that docker compose or use an executable directly on your system. You can check #54 for the most common issue with docker/cloud and check for workarounds there.
Also I'm not sure scaling docker compose on 1 machine is effective - from what I know most of techniques for ddos are limited either by the amount of unique IPs attacking the system (you'd need to setu

[2022-03-04 08:50] KhalupiakYaroslav opened #77 "Хто кординує дії??"
Отримав посилання на image від кібер козаків, але хости які атакує скрипт не співпадають з тим що вони пишуть у себе в групі

[2022-03-04 08:51] Arriven commented on #73
There are more effecient jobs in this program that do that task more effeciently (See #57 for some explanations on the topic). Also it seems like @securims just authored a PR (#76) that allows to use similar configuration with http traffic for those who think this is still a concern

[2022-03-04 08:51] #73 closed

[2022-03-04 08:57] Arriven commented on #77
Yeah, we're still organizing the process with admins (we need to set up a training but human interactions take time especially since most of us are in Ukraine and have to regularly run to shelter). ETA should be somewhere today if no force-majors take place. You can also take part in that by proposing pull-requests to https://github.com/db1000n-coordinators/LoadTestConfig

[2022-03-04 08:57] #77 closed

[2022-03-04 08:58] Andrmist opened #78 "Авто генератор конфігу"
Доброго дня! Хочу запропонувати написати (готовий це зробити сам) авто генератор конфігу, потрібні сайти будуть братись з телеграму або діскорду.

[2022-03-04 09:09] KhalupiakYaroslav opened #79 "if you do not have time to update the hosts, who will then take my PR?"

[2022-03-04 09:10] Arriven commented on #78
That's a very good idea! You can check defaultconfig.go for an example of a simple but quite effective config (feel free to improve on that as well)

[2022-03-04 09:13] Arriven commented on #78
I'll assign the issue to you and hope you don't mind me changing the title to english

[2022-03-04 09:15] Arriven commented on #79
The problem right now is that I don't have enough time near my laptop to do that. I'm currently organizing admins to take care of the config but regardless of that if you author a PR I can review and approve it via the phone

[2022-03-04 09:15] KhalupiakYaroslav commented on #79
дякую! тримайся друже, ви мега круті

[2022-03-04 09:53] securims commented on #67
this is just a warning and it should be working still, if it bothers you run the command with the additional flag `docker run --platform linux/amd64 --pull always ghcr.io/arriven/db1000n:latest`

[2022-03-04 10:41] Arriven commented on #58
@WeGoToMars cool, but please check https://github.com/db1000n-coordinators/LoadTestConfig and remove that commandline argument as soon as activity starts there to keep being up to date with current targets (I've almost finished instructing admins on how to manage it so it should become active very soon)

[2022-03-04 10:51] QDanteQ opened #82 "The app doesn't seem to generate any traffic, please contact your admin"
WARN]  2022/03/04 12:49:51 [WARN] The app doesn't seem to generate any traffic, please contact your admin
[ERROR] 2022/03/04 12:49:51 github.com/Arriven/db1000n/logs.Logger.Error:logs.go:50 [ERROR] error sending packet: listen ip4:tcp 0.0.0.0: socket: operation not permitted
[ERROR] 2022/03/04 12:49:51 github.com/Arriven/db1000n/logs.Logger.Error:logs.go:50 [ERROR] error sending packet: listen ip4

[2022-03-04 11:07] makbar1234 commented on #55
people in channel are still coordinating and running soft manually.
they are confused that this repo is not synched with the targets admins set. So, the pros are not working because of that.
Targets may change within hours but config is not updated with it. Could you fix that?
as for users' trust, I understand this but the weak point is that people who understands that don't always need such democ

[2022-03-04 11:24] Arriven commented on #82
There was a small misconfiguration by the new admin, it was fixed within 10 minutes (see https://github.com/db1000n-coordinators/LoadTestConfig/commit/831f3fcaeed704aa294a5d12e1295e09389eb5c1)

[2022-03-04 11:24] #82 closed

[2022-03-04 11:27] Arriven commented on #55
@makbar1234 the process of finding and training admins to use this took some time because of war in the country and regular need for both me and admins to run to the shelter due to air hazards. First admin is already ready since 40 minutes ago and the process should get better now. Sorry for the inconvenience

[2022-03-04 11:47] Arriven commented on #67
The issue was fixed in #80 and also there was a fix for install.sh in #81
Thanks authors of those requests for help!

[2022-03-04 11:47] #67 closed

[2022-03-04 11:55] Yneth opened #85 "dynamic targets list"
I have created an API for targets, currently it has info on cloudflare, UP/DOWN, ips and other stuff.
I am planning to add open ports info and add sorting based on popularity.

If you'd like I can share an access with you.

You can check it out here:
http://164.92.247.88:9300/

[2022-03-04 12:03] Arriven commented on #85
Can you get in touch with @Andrmist ? He volunteered to write an automated config generator which would be used by admins and I think it would be best to integrate an option to fetch list of targets from a URL there

[2022-03-04 12:04] Arriven commented on #85
See #78 for reference

[2022-03-04 12:32] WeGoToMars commented on #58
@Arriven `db1000n.exe -c https://github.com/db1000n-coordinators/LoadTestConfig/blob/main/config.json` seems to work now

Without any arguments, the logging works differently(?)

db1000n.exe -c https://github.com/db1000n-coordinators/LoadTestConfig/blob/main/config.json:
`[INFO] Attacking https://lenta.ru/`
`[INFO] Attacking https://lenta.ru/login`
`...`

db1000n.exe:
`[INFO] Атака проводиться усп

[2022-03-04 12:55] Bleach665 commented on #67
Unfortunately not.
````sudo ./install.sh````
failder with error
````unknown: aarch64````.

[2022-03-04 13:03] Yneth commented on #78
@Andrmist
Hi, according to https://github.com/Arriven/db1000n/issues/85
I have already developed and continue updating the API for targets, it would be nice to cooperate.

[2022-03-04 13:03] Arriven commented on #67
@Bleach665 hmm, seems like it can't detect your platform properly, which system are you running it on? Also can you try without sudo?

[2022-03-04 13:06] Bleach665 commented on #67
@Arriven . Oracle cloud arm instance.
````Linux arm 5.11.0-1028-oracle #31~20.04.1-Ubuntu SMP Wed Jan 26 14:20:52 UTC 2022 aarch64 aarch64 aarch64 GNU/Linux````

[2022-03-04 13:09] Arriven commented on #67
Ah, okay, I see, can you open a new issue and provide the value of your OSARCH and OSTYPE variables?

[2022-03-04 13:11] iamtodor commented on #69
@Arriven once you merge #88 PR this issue won't be relevant

[2022-03-04 13:21] Bleach665 opened #89 "install.sh failed on arm architecture"
Reproduced on Oracle cloud ampere instance.

`sudo ./install.sh`
failed with error
`unknown: aarch64`.

`uname -a` output
`Linux arm 5.11.0-1028-oracle #31~20.04.1-Ubuntu SMP Wed Jan 26 14:20:52 UTC 2022 aarch64 aarch64 aarch64 GNU/Linux`

`echo $OSTYPE` output
`linux-gnu`

`echo $OSARCH` output empty string.

[2022-03-04 17:13] iamtodor commented on #69
the issue can be closed as PR has been merged @bunge12 @Arriven

[2022-03-04 17:41] iamtodor commented on #19
the issue can be closed as it was implemented in https://github.com/Arriven/db1000n/pull/94

[2022-03-04 17:50] #69 closed

[2022-03-04 17:51] iamtodor commented on #19
@Arriven please close the issue as it was implemented in https://github.com/Arriven/db1000n/pull/94

[2022-03-04 17:54] TarasKasprik opened #96 "Is there a benefit to running the program around the clock?"
Is there a benefit to running the program around the clock?
Do you need to run it only after receiving a command from the coordinators?

Different sources have different information on this issue.

[2022-03-04 18:12] Arriven commented on #96
You can safely run this app around the clock. You can assume it restarts itself every minute and gets new targets

Restarts is an approximation, in reality it's a bit smarter than that but I won't go into details for now

[2022-03-04 18:13] #96 closed

[2022-03-04 18:21] Arriven commented on #89
ah, right, I forgot I take `$OSARCH` from uname -m
taking a look

[2022-03-04 18:29] Arriven commented on #89
while I was looking @securims proposed a PR #98 which as far as I can tell will allow you to install the app with something like `OSARCH=arm ./install.sh`

[2022-03-04 18:30] iamtodor opened #99 "[infrastructure as a code]: AWS"
The same way we have it on GCP https://github.com/Arriven/db1000n/tree/main/terraform/gcp_expressvpn We need the infra for AWS EC2 instances

[2022-03-04 18:31] Arriven commented on #89
@Bleach665 if the command from my previous comment works for you - I can probably safely assume that simply specifying `aarch64` to download arm64 binary would be a proper fix. Please respond once you are able to test this workaround

[2022-03-04 18:31] iamtodor opened #100 "[infrastructure as a code]: Azure"
The same way we have it on GCP https://github.com/Arriven/db1000n/tree/main/terraform/gcp_expressvpn We need the infra for Azure virtual machines

[2022-03-04 18:33] iamtodor opened #101 "[infrastructure as a code]: DigitalOcean"
The same way we have it on GCP https://github.com/Arriven/db1000n/tree/main/terraform/gcp_expressvpn We need the infra for DigitalOcean droplets

[2022-03-04 18:56] Arriven commented on #99
Should be fixed by https://github.com/Arriven/db1000n/commit/2d5a4bab050d9d366182282a4b6f10986c227570

[2022-03-04 18:56] #99 closed

[2022-03-04 18:56] kuzm1ch opened #105 "OOM issue"
<img width="766" alt="Screenshot 2022-03-04 at 20 49 13" src="https://user-images.githubusercontent.com/32264674/156824221-c20172b9-4e72-4da1-89af-008f6ebed1ca.png">

[code]

[code]

If this issue is related to the older app version, just close it.

thanks for tool btw

[2022-03-04 18:57] Arriven commented on #101
There was an example committed by @o-volkov to another repo when back when I wanted to use multirepo approach for this. I think we should make a PR to move it here https://github.com/db1000n-coordinators/db1000n-infra

[2022-03-04 18:58] iamtodor commented on #19
update: was re-implemented in https://github.com/Arriven/db1000n/pull/104 @Arriven

[2022-03-04 19:02] Arriven commented on #105
[code]

Am I right to assume that it was successfully running for around 12 hours based on this? If so I'd rather assume that it was some config with too many targets. As someone also suggested you can add `--restart always` to restart the app if it fails for that reason

[2022-03-04 19:35] constantin-ukr opened #109 "Some proxies in proxylist have port 8010 instead of 1080"
Into file proxylist.json

has Ip with port *8010* but general used *1080*.

"124.172.232.49:8010",
"89.108.112.1:8010",
etc.

Is it issue or correct?

[2022-03-04 19:41] Devaniti opened #110 "Check if user enabled VPN and so whether attack will be effective"
If user's IP address detected as Ukrainian, open page in browser with instruction on how to setup VPN.
Will try to do myself.

[2022-03-04 19:47] ctukraine22 opened #111 "Embedded VPN"
Народ, можливо варто додати вбудовану роботу через vpn?
ось у мене є приклад на docker compose https://github.com/ctukraine22/runner
суть в тому, що підіймається контейнер з vpn, і контейнер з db1000n, потім періодично vpn перепідключається.
Щоб запустити достатньо тільки дати налаштування для свого vpn, мінус в тому що із коробки провайдерів не багато підтримується

[2022-03-04 19:59] Arriven commented on #111
Check out supervisord/ and run/ subfolders for that, feel free to open a PR if it can be further improved

[2022-03-04 20:18] Bleach665 commented on #89
@Arriven . Specifying `OSARCH` as `arm` or `aarch64` dont resolve this.

[2022-03-04 20:21] Arriven commented on #89
Ok, hopefully I'll be able to find time to setup a test machine to debug this tomorrow

[2022-03-04 21:54] iamtodor commented on #101
@Arriven perhaps this article might be in use for you https://dou.ua/forums/topic/36874

[2022-03-04 22:03] Leta0n opened #115 "DigitalOcean Networking disabled error"
Can I limit network usage somehow? DO keep banning my droplets because of network abuse
![IMG_FF722C95255B-1](https://user-images.githubusercontent.com/3305500/156847961-2f8709fc-4f1f-46e1-8e3b-d5fbf0cf61b6.jpeg)

[2022-03-05 00:35] vovagorodok opened #116 "ARM and RaspberryPi support"
For latest raspberry pi os:
[code]

[2022-03-05 07:25] #110 closed

[2022-03-05 08:05] Arriven commented on #115
You can use custom config for that (see ##Configuration part of the README for reference). I'm currently working with admins to try creating a separate config to use with cloud providers that would use less traffic&CPU and more advanced attack patterns that are harder to detect. ETA is somewhere today (I will reply here once it's done)

[2022-03-05 08:25] Arriven opened #118 "Documentation structure"
As new PRs come in the docs start to be a little chaotic. I think it's important to make the structure clearer to enable faster contributions.

I'm thinking about the following structure:

- README.md - general info about the repository, links to docs/new-users.md and docs/technical-users.md should be in the beginning
- docs/ - folder for all the other READMEs that don't belong to any other specif

[2022-03-05 08:26] Arriven commented on #118
@iamtodor since you're probably the biggest contributor to the docs yet, could you take a look at this?

[2022-03-05 08:41] Arriven opened #119 "Announcement to contributors: Code restructure"
Considering the amount of contributions I decided to spend an hour or two restructuring the code a bit to reduce chances of merge conflicts in the future. Please avoid doing any major work until I resolve this issue or make sure you will be able to re-apply your work after I commit the code restructure as there may be a lot of file and code movements which could be hard to resolve automatically

[2022-03-05 09:18] #119 closed

[2022-03-05 09:29] dmy3tka opened #121 "Docker image is not being updated for 21 hours - new targets are not applied"
Targets config in the separate repo is being updated multiple times, but actual Docker image (that is currently running on VMs) hits outdated targets list. Please push new image ASAP.

P.S.: I can develop CI stage to build and push new image, once MR is merged. Should I start?

[2022-03-05 09:42] Arriven commented on #121
Targets are configured outside of the image and executable (and repo because it's easier to manage that way). There is a backup config embedded into the exe but it's used as a backup if the app can't fetch remote one  and it's not meant to be updated.

There's already a CI job to build and push docker image on release.

The main reason there was no new release for 21 hours is because there were no

[2022-03-05 09:44] Arriven commented on #121
If you see that docker image really hits outdated list I suggest checking if it can connect to the proper target list in your setup. Might be a problem there and we need to discuss/debug it separately.

[2022-03-05 09:45] Arriven commented on #121
See https://github.com/Arriven/db1000n/issues/115 for more info on networking problems in clouds

[2022-03-05 09:57] 5har0varik opened #123 "[improvement] [win] BAT file with supervisor/guardian"
To prevent windows crash add simple supervisor in .bat file. Add .bat file to .zip package.
For example:
[code]

[2022-03-05 09:58] 5har0varik commented on #123
I may create a PR, tell me what changes needed (Script location, doc changes, etc)

[2022-03-05 10:10] iamtodor commented on #101
relates to https://github.com/Arriven/db1000n/issues/115

[2022-03-05 10:14] dmy3tka commented on #121
Ok, thanks. Checking from inside Docker. Will post the results. Use tcpdump to check packets sending.

[2022-03-05 10:26] iamtodor commented on #118
@Arriven to be honest, I had literally the same assumption. The reason I didn't suggest it is I thought it would bring additional efforts

[2022-03-05 10:28] Arriven commented on #118
Yeah, started with that opinion as well but seeing the amount of contributions changed my mind 😅

[2022-03-05 10:30] iamtodor commented on #118
would you like to move vpn list to a separate page from readme? but still having a link from readme

[2022-03-05 10:36] Arriven commented on #123
@5har0varik PR would be nice, not sure about the location, I'd probably make the scripts/ subfolder for the script (and move install.sh there).

Also see https://github.com/Arriven/db1000n/issues/118 for what I was thinking about structuring the docs, try to use that pattern if possible but even if you don't we can move it later. It's probably wise adding this script under instructions for technic

[2022-03-05 10:37] Amet13 commented on #118
@iamtodor @Arriven I'll prepare a proof of concept of the structure of the new doc in 10-30 mins.
Let's discuss it after I finish

[2022-03-05 10:38] iamtodor commented on #118
@Amet13 sounds good to me!

[2022-03-05 10:38] Arriven commented on #118
VPN instructions can be a separate page, but probably also nice to include some options directly into the instructions for new users

[2022-03-05 10:38] Arriven commented on #118
@Amet13 agreed

[2022-03-05 10:39] arfgdev commented on #109
could you describe a way to reproduce it?

[2022-03-05 10:48] mzahar opened #124 "How to stop the program?"
Is there a way to stop program? Or I need only uninstall it to stop?
Device: Mac Book Pro Intel

[2022-03-05 10:49] arfgdev commented on #8
@lonli078 how is it going? do you need any help?

[2022-03-05 10:49] goodandrewsoft opened #125 "How use alpine/bombardier via vpn?"
For example how use ?
`docker run -ti --rm alpine/bombardier -c 1000 -d 3600s -l https://mil.ru`

like in https://github.com/Arriven/db1000n/blob/main/run.sh

[2022-03-05 10:53] bmirnoff opened #126 "Groups by different types of attack"
Register each running client somewhere and assign the type of attack for each group.

[2022-03-05 10:54] iamtodor commented on #125
@goodandrewsoft could you please expand your question? Basically, all you need is to turn on VPN and run `docker run ghcr.io/arriven/db1000n` or just run binaries.
You don't need `alpine/bombardier` in this implementation

[2022-03-05 10:55] iamtodor commented on #124
@mzahar you run it as binary file?

[2022-03-05 10:57] goodandrewsoft commented on #125
I know that. I'm already use db1000n via [run.sh](https://github.com/Arriven/db1000n/blob/main/run.sh)

But, sometimes, i want use `alpine/bombardier` manually and i want automate my process like in [run.sh](https://github.com/Arriven/db1000n/blob/main/run.sh)

[2022-03-05 10:59] oleksdovz opened #129 "k8s. HealthCheck"
k8s. HealthCheck
Було б добре мати для аплікухи якийсь HealthCheck
Тобто якшо пода залипла то її рестартнутию

[2022-03-05 11:01] Amet13 commented on #118
@Arriven @iamtodor let's review this one: https://github.com/Arriven/db1000n/pull/128/files

[2022-03-05 11:01] oleksdovz commented on #129
Крім того я знайшов такий ресурс із проксі - https://t.me/proxy_list_misha
можливо можна інтегрувати для постійного оновленння або перечитання проксі коли пода рестартує

[2022-03-05 11:04] Amet13 commented on #118
The idea is to keep the main readme pretty clean.
There is also a duplicate of it in Ukrainian.
Crosslinking between ua and en versions of README.

Tool-specific docs are in their directories (for example kubernetes/{manifests,helm-chart}, terraform/{aws,gcp,...}.
General documentation for advanced users and developers is in docs/

[2022-03-05 11:06] iamtodor commented on #118
@Amet13 @Arriven I am not sure whether we need to keep Ukrainian instruction. I think all of us (I mean the IT community) know English at, at least pre-intermediate level. But keeping 2 separate langs would bring us double efforts

[2022-03-05 11:08] Amet13 commented on #118
@iamtodor agree, just moved it to not to break current docs.
But if we write REAME just once, maybe it won't be a really big effort to keep both versions

[2022-03-05 11:23] deviant-studio opened #131 "Error response from daemon: invalid mount config for type "bind": bind source path does not exist: /root/openvpn."
Guys, need help with running on ubuntu with custom ovpn config. i put the .ovpn into the openvpn dir. running with ./run.sh
get this error:
[code]

[2022-03-05 11:24] YuriyChmil opened #132 "Always same targets"
Hey. I am running this image on AWS via terraformm.
From logs, I see that it attack only one IP with different port
is it ok?
`
Attacking http://82.202.190.240:8010
[INFO]  2022/03/05 11:22:21 [INFO] Attacking http://82.202.190.240:443
[INFO]  2022/03/05 11:22:21 [INFO] Attacking http://82.202.190.240:80
[INFO]  2022/03/05 11:22:22 [INFO] Attacking http://82.202.190.240:443
[INFO]  2022/03/05 11:2

[2022-03-05 11:32] #116 closed

[2022-03-05 11:38] vgoncharenko opened #133 "Network activity went down today."
Guys, something happened around 2:20 UTC.
my command: docker run --pull=always ghcr.io/arriven/db1000n:latest
Unfortunately, cant track if it was config changes.
<img width="1095" alt="Screen Shot 2022-03-05 at 5 36 33 AM" src="https://user-images.githubusercontent.com/10031428/156881337-0681a472-38d2-4447-900a-df349d8e64bf.png">

[2022-03-05 11:39] Arriven commented on #118
I think it's worth keeping the instruction for new users in Ukrainian, everything else can be English only. I'll merge PR from @Amet13 as is

[2022-03-05 11:47] vgoncharenko commented on #132
same on my aws

[2022-03-05 11:48] Amet13 commented on #129
Я тестив функціонал імежду, якшо щось не так з аппкою, вона вилітає и кубер автоматично перезапскає под

[2022-03-05 11:51] oleksdovz commented on #129
ок, добре,  там проксі http?
як щодо файлів із  https://t.me/proxy_list_misha? вони оновлюються дуже часто.
в теорії  список http proxy  можна оновляти при старті контейнера в поді, тільки  файл із проксі має формат json а то що скачується в txt

[2022-03-05 12:01] Arriven commented on #125
I'll assign this to @bitshape as he's the author of that implementation and knows about it more than me.

[2022-03-05 12:03] vgoncharenko commented on #131
If you add:
set -ex

at the top of run.sh, it will print you everything it's going to run.
For some reason, it tries to use root's dir as current. Just to confirm it, add that command and try again. Maybe it's just a typo in your script.
If your code is identical with what in repo - try to run without sudo.

[2022-03-05 12:05] Devaniti commented on #124
If you don't see terminal window with program then it's not running

[2022-03-05 12:07] Arriven commented on #129
@oleksdovz to be completely honest I'm still not convinced proxies actually improve the quality of attacks as there are different opinions on the topic and most of them say that it depends. This makes me think that even if it does have a positive impact it's a low priority task. Regardless of that I think it's worth creating a separate issue to discuss this first.

[2022-03-05 12:07] #129 closed

[2022-03-05 12:09] pavliukvlad commented on #132
The same

[2022-03-05 12:10] Arriven commented on #124
Anything that would work for a regular program would work here (I'm assuming you use binary install which is described in the instruction for users). If you see the terminal where the program is running you can stop it by pressing Ctrl+C. Otherwise you can use Activity Monitor (similar to Task Manager on Windows AFAIK) to check if the program is running and stop it

[2022-03-05 12:10] #124 closed

[2022-03-05 12:13] Arriven commented on #126
@bmirnoff can you provide more info on what you mean and what benefit you want to get? There are a lot of improvement areas in this app now and it would help to prioritize work

[2022-03-05 12:14] Arriven commented on #131
@bitshape seems like this is your area of expertise

[2022-03-05 12:16] iamtodor commented on #132
same here

[2022-03-05 12:18] Devaniti opened #136 "Performance and multithreading"
On my machine, even with free VPN, I can get at least 10x performance by launching multiple instances
We need to implement multithreading, so it can utilize all available resources
Will try to do myself, but since I'm not that good at Golang I may need some help

[2022-03-05 12:18] Arriven commented on #133
I don't recall any config changes at that time. Need to investigate

[2022-03-05 12:21] Devaniti commented on #136
ok, it seems that there's multithreading, but there's still bottleneck somewhere

[2022-03-05 12:22] Arriven commented on #132
I'll get back to take a closer look at this in couple minutes but for now can somebody check it against the config present [here](https://raw.githubusercontent.com/db1000n-coordinators/LoadTestConfig/main/config.json) and [here](https://github.com/Arriven/db1000n/blob/main/src/config/defaultconfig.go)?

[2022-03-05 12:25] vgoncharenko commented on #125
It's not detailed instruction, but you asked a question in the wrong repo. It's a different project from bombardier.
So I have no knowledge about db1000n or bombardier, I'm just like you - a user, but I can give you some idea of what to do:

1) add openvpn for your version of alpine/bombardier image (Add means install)
2) you will definitely need --cap-add=NET_ADMIN for your docker run command (as

[2022-03-05 12:25] AndriiChuzhynov commented on #8
working on it

[2022-03-05 12:25] Devaniti commented on #136
this is the offender,
`for i := 0; i < jobDesc.Count; i++ {`
`jobDesc.Count` is just too low

[2022-03-05 12:27] iamtodor commented on #132
might relates to https://github.com/Arriven/db1000n/issues/121

[2022-03-05 12:30] vgoncharenko commented on #133
I don't have vpn, btw.
And there is no packet loss:

eth0: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 9001
        ................................................................................................
        RX packets 1403319  bytes 88604937 (84.5 MiB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 283605121  bytes 1019714276523 (949.6 GiB)
        TX erro

[2022-03-05 12:31] Amet13 commented on #100
If someone have account on Azure I can help with writing terraform code and documentation for it

[2022-03-05 12:35] Arriven commented on #136
@Devaniti I wouldn't call it a bottleneck but rather a design limitation. The app is configurable to generate set amount of traffic (controlled by the number of targets, their type, and attack interval for each of them). The main reason it works that way is because there are two main types of ddos:

- Straightforward load generation (easy to implement, easy to defend from) - as effective as the am

[2022-03-05 12:35] #136 closed

[2022-03-05 12:36] vgoncharenko commented on #132
just about a minute ago it got fixed. Many new targets started showing up:

[INFO]  2022/03/05 12:32:58 [INFO] Attacking http://82.202.190.240:80
[INFO]  2022/03/05 12:32:58 [INFO] Attacking http://victori.gtrklnr.ru/
[INFO]  2022/03/05 12:32:58 [INFO] Attacking http://victori.gtrklnr.ru/
[INFO]  2022/03/05 12:32:58 [INFO] Attacking http://193.228.161.83:80
[INFO]  2022/03/05 12:32:58 [INFO] Attac

[2022-03-05 12:43] pavliukvlad commented on #132
I can confirm as well that there are a lot of new targets now.

[2022-03-05 12:46] vgoncharenko commented on #132
But all metrics went down dramatically as well:
throughput went down from 470Mb/min to 200kb/min:
And everything, CPU, packets.
<img width="1122" alt="Screen Shot 2022-03-05 at 6 43 59 AM" src="https://user-images.githubusercontent.com/10031428/156883590-1aa99bf7-67fb-4b46-8146-b628c9c8cd0b.png">

[2022-03-05 12:48] pavliukvlad commented on #132
I also noticed that
![image](https://user-images.githubusercontent.com/26973559/156883766-582a9f2f-e6cb-422c-add0-1f0e5adb1de8.png)

[2022-03-05 12:50] iamtodor commented on #132
can confirm the same. new targets have arrived
@Arriven could you please shed some light on the issue? have you changed something? what was wrong or what was fixed?

[2022-03-05 12:50] Arriven commented on #133
I don't have any ideas on possible cause yet so there's no ETA yet. I'll try to look into it between other critical and high priority tasks since I'm genuinely interested in finding the cause but the impact of this particular issue is relatively low. You can also play with different custom configurations in the meanwhile to try to reproduce this behavior and get more understanding on it if you hav

[2022-03-05 12:53] YuriyKu opened #137 "No matching manifest for linux/arm/v7 in the manifest list entries"
Hello,
I'm trying to run db1000n on raspberry pi3 with next error:

Unable to find image 'ghcr.io/arriven/db1000n:latest' locally
latest: Pulling from arriven/db1000n
docker: no matching manifest for linux/arm/v7 in the manifest list entries.

My system is:
$ cat /etc/os-release
PRETTY_NAME="Raspbian GNU/Linux 11 (bullseye)"
NAME="Raspbian GNU/Linux"
VERSION_ID="11"
VERSION="11 (bullseye)"
VERSION

[2022-03-05 13:00] vgoncharenko commented on #132
Looks like targets very week but still reachable:

Target 1:
PING 193.228.161.83 (193.228.161.83) 56(84) bytes of data.
64 bytes from 193.228.161.83: icmp_seq=1 ttl=34 time=133 ms
64 bytes from 193.228.161.83: icmp_seq=3 ttl=34 time=133 ms
64 bytes from 193.228.161.83: icmp_seq=4 ttl=34 time=133 ms
64 bytes from 193.228.161.83: icmp_seq=5 ttl=34 time=133 ms
64 bytes from 193.228.161.83: icmp_seq=8

[2022-03-05 13:01] iamtodor commented on #137
@YuriyKu take a look on https://github.com/Arriven/db1000n/issues/116

[2022-03-05 13:02] Bleach665 commented on #89
@Arriven . Йа магу ддат доступ къ машыыне. Как свизацца с ваме?

[2022-03-05 13:30] dmy3tka commented on #121
@Arriven can confirm, that targets are not being updated. We need to push an image each time we have a MR merged to https://github.com/db1000n-coordinators/LoadTestConfig to take a benefit of the option we are running container ` --pull always`, also we need to make sure this option works, as PID is running and I am not sure at wich moment docker will pull new `latest`.

Note, containers are runni

[2022-03-05 13:38] dmy3tka commented on #132
Why CPU utilisation is dropped so drastically, do we fix resource leakage in code or rps is so week now and things broke?

[2022-03-05 13:46] constantin-ukr commented on #109
As I understand the target takes from the list "proxylist.json", and if open it and find the text ":8010" you can over 20 matches. I do not say that is incorrect but should check. Thanks

[2022-03-05 13:47] Amet13 commented on #101
Implemented there: https://github.com/Arriven/db1000n/pull/142

[2022-03-05 13:55] ctukraine22 commented on #111
бачу вже доку додали https://github.com/Arriven/db1000n/blob/main/docs/advanced-users-and-devs.md#docker--openvpn

[2022-03-05 13:55] #111 closed

[2022-03-05 13:58] Amet13 commented on #137
Support for arm/v7 already in master.
In the next release, it will be deployed.
Keep following https://github.com/Arriven/db1000n/pkgs/container/db1000n

[2022-03-05 14:18] PXEiYyMH8F opened #143 "Consider adding codesenberg/bombardier with proxy attack"
https://github.com/mariotrucco/bombardier/compare/78-add-proxy-support
You can run it in 100+ threads and receive superpower (50k https req/s).

[code]

[code]

[2022-03-05 14:28] KarboDuck commented on #133
Maybe it's just a case of new json file with smaller list of files?

If you launch db1000n with previous json (from github history) net load is still high.

`https://raw.githubusercontent.com/db1000n-coordinators/LoadTestConfig/0287df8617728449359bf0f71fa7d59fc4d627ed/config.json`

[2022-03-05 14:34] MAKMED1337 opened #145 "Incorrect color output in default windows command prompt"
Logs looks bad at windows
![image](https://user-images.githubusercontent.com/50710486/156887852-aeb78999-8021-4cd5-9fc0-fc6b5498649f.png)

[2022-03-05 15:01] dmy3tka commented on #121
@Arriven ok, I see where we get conf url and update it. Can you confirm, that this loop overrides targets config each time in the container? - https://github.com/Arriven/db1000n/blob/6e515ee3f2ae6e8ff6f72417921cb60c5ed2f995/main.go#L71

And why we use such aggressive 1 minute override as we don't have such frequent changes of the conf. Let's make it reasonable 1 hour.
Thank you!

[2022-03-05 15:06] sergnochevny opened #146 "gcp-installation-ua.md not working"
cloud instance becomes unavailable after running openvpn3.sh from gcp-installation-ua.md
checked on DO and GCP

[2022-03-05 15:17] Amet13 commented on #146
@Arriven @iamtodor as I mentioned before in this comment: https://github.com/Arriven/db1000n/issues/118#issuecomment-1059743438 this doc looks a bit strange. Can we find an author of it to review doc?
Or we can delete it to not to confuse people with it

[2022-03-05 15:30] #123 closed

[2022-03-05 15:42] dmy3tka commented on #133
Can you please give approximate numbers on how many targets was, and is now? I hardly believe it can go down from 1 container consumes 80% cpu core to < 10% cpu core because of a smaller target list.

[2022-03-05 15:57] KarboDuck commented on #133
First of all, my mistake, list is not smaller, just different.

I'm not sure what't the cause, maybe it is:
-different ddos protection
-some servers just not available
-different protocols(ports) generate different traffic

But I can clearly see the difference between load on cpu and network between two json files.

In one case it is 95% load with 10-40 MB/s on my particular vps and in second case

[2022-03-05 15:58] vgoncharenko commented on #133
Yes, I can confirm with that configuration metrics went up to where it was:
https://raw.githubusercontent.com/db1000n-coordinators/LoadTestConfig/0287df8617728449359bf0f71fa7d59fc4d627ed/config.json:

<img width="1087" alt="Screen Shot 2022-03-05 at 9 48 20 AM" src="https://user-images.githubusercontent.com/10031428/156890607-07f51603-a0be-4a06-ac3b-a4bb388f8865.png">

CPU as well. went up to 80-9

[2022-03-05 16:00] #101 closed

[2022-03-05 16:07] Devaniti commented on #145
You can use Windows Terminal to get better output

[2022-03-05 16:10] arfgdev opened #148 "Move proxylist url to commandline parameters"
can I provide my own link to proxy file in config?

[2022-03-05 16:27] Arriven commented on #148
As of now you'll need to recompile the binary for that but it's quite easy to move that setting into the commandline. I think we should do it, will set medium priority and help wanted labels to this issue in case somebody volunteers to do it earlier then I get to it

[2022-03-05 16:30] iamtodor commented on #146
@Amet13 @Arriven as I suggested before let's keep only English version

[2022-03-05 16:31] Arriven commented on #146
Let's find the author first, if we get no feedback in 12 hours we can delete it but there's no rush yet since these guides expect at least some level of technical expertise which might be enough to get through even with errors in the guide

[2022-03-05 16:37] Amet13 commented on #145
@Devaniti could you reproduce it on Windows? Unfortunately don't use it

[2022-03-05 16:42] Arriven commented on #146
I think we should also enforce the rule where at least two other people should validate new guides/big changes to guides and different scripts/terraform/k8s_manifests/docker-compose files which we don't have CI jobs for yet. I'll create a separate label for that

[2022-03-05 17:18] Kirill-Karmazin commented on #89
The `instal.sh` is basically a lazy way to select the proper archive with the program for your computer on this page: https://github.com/Arriven/db1000n/releases

If you're running `sh` and aarch64 I assume you may want to try this one: https://github.com/Arriven/db1000n/releases/download/v0.5.12/db1000n-v0.5.12-linux-arm64.tar.gz

[2022-03-05 18:09] crabulik commented on #100
Hi folks. I have created a setup for Azure Container Instances with terraform.

[2022-03-05 18:13] vgoncharenko opened #153 "Yesterday traffic eat a huge amount of money"
Guys, do we have any coupons for AWS? yesterdays traffic eat huge amount of money.

Bandwidth$4,934.30
$0.000 per GB - data transfer in per month339.145 GB$0.00
$0.000 per GB - data transfer out under the monthly global free tier100.000 GB$0.00
$0.000 per GB - regional data transfer under the monthly global free tier0.025 GB$0.00
$0.070 per GB - next 100 TB / month data transfer out7,587.163 GB$53

[2022-03-05 18:21] Amet13 commented on #100
Cool @crabulik could you make a PR?

[2022-03-05 19:23] crabulik commented on #100
I am not so good at working with GitHub. I created a branch and tried to push it, but received the message that I do not have Write access. Do I have to perform some additional configuration?

[2022-03-05 19:25] dmy3tka commented on #133
The difference is, that in conf with higher usage, there is a "client": {"async": "true"}. Not sure who and why removed this option from some of the targets.

[2022-03-05 19:28] sivillakonski opened #157 "Creating a list of required protocols to support"
Hi there, folks,

I see how many people are currently working on a project, it's just brilliant.
Not to intersect with each other, is it possible to have a list of protocols to benchmark?

For example:
* VPN jamming
* SIP high-load test
* etc.

[2022-03-05 19:32] Devaniti commented on #145
@Amet13 Yes, it's reproducible with default "cmd" console
But with new "Windows Terminal" it works as expected

[2022-03-05 19:34] Amet13 commented on #100
@crabulik you have to fork a repo, then clone your repo, create a branch, make changes, push to github and then create a PR to this repo.
If you have any issues with that, just send files there and I'll create a PR for you

[2022-03-05 19:56] crabulik commented on #100
@Amet13 Thanks, created PR: https://github.com/Arriven/db1000n/pull/158

[2022-03-05 20:44] industral commented on #133
confirm, have the same issue. CPU load is down, network - almost 0

[2022-03-05 20:46] industral commented on #153
yes, write to them.. but I don't know how you'll explain that traffic.
They might forgive you that and might issue coupon to redeem.

[2022-03-05 21:28] Vladisl0ve opened #162 "Old targets for Linux users"
Targets on Windows:

![image](https://user-images.githubusercontent.com/36882979/156900359-2be5905b-9771-4b5f-b930-dbab3e96d0a6.png)

Targets on Linux (Ubuntu 21.04) even with some errors on the start:

![image](https://user-images.githubusercontent.com/36882979/156900390-6277971e-a098-40b6-b13f-315798000d87.png)
![image](https://user-images.githubusercontent.com/36882979/156900394-f950a2c4-6f9f-4

[2022-03-05 21:35] Amet13 commented on #162
Could you please run the command:

[code]
on both Windows and Linux?

Errors on the 2nd screenshot seems related to DNS issues on the host

[2022-03-05 21:51] Vladisl0ve commented on #162
Linux:
[code]

Windows:
[code]

[2022-03-05 23:16] bitshape commented on #121
@dmy3tka disagree because 1hr refresh means it will take up to an hour to get all clients refreshed. For successful results you want very quick switch of conf in order to maximize efficiency.

[2022-03-06 06:15] bmirnoff opened #165 "Next Milestone | BLOCK"
This is a strategic post.

I think next milestone might be a shift from chaos dos to a situation when doing it is profitable or makes achievements.
This might be done like a blockchain. Proposal:

Layer 2 tokens that might be minted during the execution of attacks.
For instance
- each successful attack response is a nonce in PoW algo
- signed hash of a config json
- some hash from prev block

Resu

[2022-03-06 06:16] bmirnoff commented on #126
Yes I think it makes 0 sense @Arriven

[2022-03-06 06:17] #126 closed

[2022-03-06 06:20] bmirnoff commented on #165
@Arriven what do you think?

My vision

-  it might be a layer 2 thing. Event not a true chain by a client that works with a chain based on w3 via smartcontract of a chan.
- it **must** be controlled by DAO. This thing need to be unique (never happened again) and controlled as can decrease a  blockchain reputation
- chain must has chip transactions and has w3 support

[2022-03-06 06:27] bmirnoff commented on #165
Goals:
- gamification for all remaining world
- maintain **interest**

I think these are important actions and effects from each of them hard to estimate.

[2022-03-06 06:30] bmirnoff commented on #165
Issues:
- tokens might be a part of illegal activity, but who cares now?
- impact on the chain community, also hard to estimate. There are a lot of scum there, so the key point is that this process has the end where all DAO members voted for its stop.

[2022-03-06 08:32] #148 closed

[2022-03-06 08:35] Arriven commented on #133
I've been referencing this in other issues, but essentially more traffic doesn't always mean better DDoS. We're trying different patterns to see whether they get blocked by the target (and even source in case of cloud providers)

[2022-03-06 08:46] dmy3tka commented on #133
@Arriven so can you confirm now that async requests are not necessary now in the current load config? In such way, we will need to run more containers per cpu core if we stick to not use async as of now.

[2022-03-06 08:47] Amet13 commented on #100
Seems like can close it

[2022-03-06 08:53] Arriven commented on #165
We're currently forced to work in a gray hat area by this awful situation. Minting tokens with this would turn this into black hat. I want to turn it into white hat to be used by security professional to benchmark their DDoS protection. The code is distributed under MIT license so I can't stop you from doing your own fork and pursuing your goals but I'd rather you not do it

[2022-03-06 08:53] #165 closed

[2022-03-06 08:57] Arriven commented on #153
This would happen with other DDoS solutions running on clouds as well but we need to add a warning to instructions since not everyone might be aware that most big cloud providers bill you for traffic
@Amet13 @iamtodor can you guys do it?

[2022-03-06 09:08] Arriven commented on #143
Can you try comparing it with this tool being configured to run single http job with "client.async":true and "count":100?

[2022-03-06 09:15] dmy3tka commented on #121
Do you check how often is config changing now? 2 times a day at best. Even 1 hour is excessive refresh timeout.

We are ddosing GitHub as of now, fetching new config each minute, that can result in blockage.

[2022-03-06 09:24] Amet13 commented on #153
@Arriven yep

[2022-03-06 09:52] Arriven commented on #153
I'll leave this issue as open for people to be aware at least until this war ends

[2022-03-06 09:53] Arriven commented on #133
I've tried to explain some basic ideas on DDoS performance [here](https://github.com/Arriven/db1000n/issues/136)

[2022-03-06 09:56] Amet13 commented on #153
Maybe it would be great to label it somehow to highlight it from other issues (or pin it somehow at the top). _Not sure that GitHub allows issues pinning_

[2022-03-06 09:57] Arriven commented on #121
github is a CDN, which is designed for this specific type of load we use it for (it can and should be able to handle A LOT more load than this). This is the core of an app and I was very careful when designing it

[2022-03-06 09:57] dmy3tka commented on #133
Ok I see that you are trying to implement here. So 1 container is sufficient for this type of attack (as unique VM IP is required). To utlilize VM resources available for me, I will sidecar some other load testing software on the VMs.

[2022-03-06 10:00] Arriven commented on #132
https://github.com/Arriven/db1000n/issues/136#issuecomment-1059756173

[2022-03-06 10:03] Amet13 commented on #145
Seems like not an issue then?

[2022-03-06 10:04] Arriven opened #170 "DDoS effectiveness is not directly tied to the amount of traffic generated"
The app is configurable to generate set amount of traffic (controlled by the number of targets, their type, and attack interval for each of them). The main reason it works that way is because there are two main types of ddos:

- Straightforward load generation (easy to implement, easy to defend from) - as effective as the amount of raw traffic you can generate

- Actual denial of service that aims

[2022-03-06 10:05] Arriven commented on #170
@Amet13 @iamtodor tagging you here

[2022-03-06 10:05] #146 closed

[2022-03-06 10:05] Amet13 commented on #137
@YuriyKu please try to pull the latest image again, it should work. Introduced arm/v7 support in 0.5.13

<img width="764" alt="Screenshot 2022-03-06 at 12 04 37" src="https://user-images.githubusercontent.com/5184847/156918470-061c3483-2e07-499f-9024-b6f5d4adb60d.png">

[2022-03-06 10:42] Arriven commented on #133
I think we'll do it the following way: create a separate config file that uses advanced techniques and generate less traffic and create a separate docker image pointing to that config. Regular users will use config that maximizes traffic for now but advanced users on (especially those using VMs) will be able to use more advanced techniques if they wish so (see #153 for why this might be important)

[2022-03-06 10:42] #133 closed

[2022-03-06 10:44] Arriven commented on #153
I'll create a separate docker release for that in a minute but please use https://raw.githubusercontent.com/db1000n-coordinators/LoadTestConfig/main/config.adv.json
as your config on clouds to avoid this issue

[2022-03-06 10:51] Devaniti commented on #145
Windows Terminal is only available on Windows 10
But I'd say it's minor issue either way

[2022-03-06 10:55] Amet13 commented on #170
My proposal is to create a separate document called `FAQ.md` (for non-technical, let's say questions).

In this document add information in format `question` - `answer`.

For example, issues related to billing in clouds, DDoS efficiency, etc

[2022-03-06 11:12] Arriven commented on #170
I'm also adding another docker image which points to another config file to be used by advanced users that understand this (especially in clouds). We'll probably need to update advanced users docs with it as soon as it's ready. I'll ask someone to change default config to use more straightforward jobs couple hours after that in order to give people time to safely switch their clusters

[2022-03-06 11:32] lomchik commented on #136
So probably we should update targets to attack for example search endpoints  like https://www.rt.com/search?q=stupid+russian+bitches.

[2022-03-06 11:38] su-hs opened #174 "amd64 and arm64 execution fail"
<img width="264" alt="Screenshot 2022-03-06 at 12 37 04" src="https://user-images.githubusercontent.com/100500001/156921383-99a84013-96ff-48cb-8cfe-8e0255b2f738.png">

even after `chmod a+x` stil fail

`v0.5.14`

cc/ @Arriven ; @krotoveugene ; @didgudan

[2022-03-06 11:43] #174 closed

[2022-03-06 11:57] Arriven opened #175 "Change cloud instructions to use db1000n-advanced by default"
I've created a separate image pointing to another config instance using specific attacks that are harder to detect and don't impact bills as much. We should switch guides for clouds to use it by default to avoid issues like high traffic billing or cloud provider locking up the instance thinking it was compromised

[2022-03-06 12:01] YuriyKu commented on #137
Hello, it works now. Thanks a lot.

[2022-03-06 12:02] YuriyKu commented on #137
Issue has been resolved. Thanks. Have a nice day.

[2022-03-06 12:02] #137 closed

[2022-03-06 12:06] industral commented on #133
so was the bug fixed or not?
I just tried to pull docker and didn't see any traffic again...
config still the same..

[2022-03-06 12:15] #175 closed

[2022-03-06 12:29] krotoveugene opened #177 "fix ip"
https://raw.githubusercontent.com/db1000n-coordinators/LoadTestConfig/main/config.adv.json
[code]

[2022-03-06 12:45] krotoveugene commented on #177
@arfgdev need to fix typo in IP - https://1185.114.138.220:443

[2022-03-06 12:50] iamtodor commented on #170
@Amet13 I also have something to add in FAQ

[2022-03-06 12:50] iamtodor commented on #170
as just general question/answer

[2022-03-06 12:52] iamtodor commented on #145
@Devaniti @Amet13 @MAKMED1337 do we have this issue while running binaries? what is the proper way to run it in Windows 10 then? I'd suggest to add a mention in our doc how to run it in Windows 10

[2022-03-06 12:54] Amet13 commented on #145
@iamtodor I would say it works properly on the screenshot except for colors in default Terminal 😄

[2022-03-06 13:00] iamtodor commented on #100
@Amet13 @crabulik @Arriven shall we follow this agreement https://github.com/Arriven/db1000n/issues/146#issuecomment-1059794244 ? Can we do cross-check if the infra works from the scratch?

[2022-03-06 13:02] iamtodor commented on #118
@Amet13 @Amet13 I would suggest having somewhere in docs (maybe for developers or it's up to your where to leave it) the following [agreement](https://github.com/Arriven/db1000n/issues/146#issuecomment-1059794244):
[code]

[2022-03-06 13:05] Amet13 commented on #118
I think it could be forced by implementing [CODEOWNERS](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners) functionality partially

[2022-03-06 13:11] iamtodor commented on #145
@Amet13 okay, then I think we are free to close this issue right? Or we can leave it as open but change the title in order to not confuse ourselves

[2022-03-06 13:14] iamtodor commented on #132
@Arriven @Amet13 I think we can close this issue for now. What do you think?

[2022-03-06 13:33] ivan-huligan opened #182 "The app doesn't seem to generate any traffic, please contact your admin"
After updating from the release v0.5.13 to the release v0.5.14 the error message constantly appears
` The app doesn't seem to generate any traffic, please contact your admin`

[2022-03-06 13:38] #170 closed

[2022-03-06 13:42] su-hs commented on #182
I confirm, I also see this warning.

[2022-03-06 13:43] Devaniti commented on #145
I'd change the title to something like "Incorrect color output in default windows command prompt"

[2022-03-06 14:08] 5har0varik commented on #177
I may create RP but cant locate file =\

[2022-03-06 14:10] SomalianCoolhacker opened #183 "Online config won't update when using proxychains-ng"
Hi, my VM (Ubuntu 20.04 LTS) can't reach online config using proxychains (country RU, socks4/5 proxies):

I'm using proxychains as an alternative to VPN on my VM. Without it, attacks won't generate any traffic usually.

P.S: I know there's an implementation of proxy in db1000n, but as far as I know, it uses random_chain instead of dynamic_chain, which means if it lands on a dead proxy, it will fai

[2022-03-06 14:19] iamtodor commented on #19
@zmitry @Arriven @Amet13 please close this issue

[2022-03-06 14:20] iamtodor commented on #153
relates to https://github.com/Arriven/db1000n/issues/54

[2022-03-06 14:21] iamtodor commented on #145
@Devaniti fully agrees!

Only @MAKMED1337 and @Arriven are able to change the title or are there some people who have the rights and access?
cc @Amet13

[2022-03-06 14:33] pashagolub commented on #145
Use PowerShell instead https://github.com/PowerShell/PowerShell

[2022-03-06 15:42] mxmCherry commented on #177
Already PR-ed in relevant repo, even twice:

- https://github.com/db1000n-coordinators/LoadTestConfig/pull/10
- https://github.com/db1000n-coordinators/LoadTestConfig/pull/9

[2022-03-06 16:05] Arriven commented on #183
You can download the config and pass the path to it via `-c path/to/file.json` as a workaround

[2022-03-06 16:08] Arriven commented on #177
This was fixed 5 hours ago, thanks for heads up though!

[2022-03-06 16:08] #177 closed

[2022-03-06 16:13] dmy3tka commented on #121
I amd closing this issue, as I see targets was updated, with the new image

[2022-03-06 16:13] #121 closed

[2022-03-06 16:36] Somartu commented on #183
Thanks!
If I'll create a script that redownloads config occasionally, will an already running db1000n update targets as well?

[2022-03-06 16:52] mxmCherry commented on #182
Seems to be a problem with metrics tracking. The app itself seem to be working fine (traced it properly - it still generates traffic).

[2022-03-06 17:07] mxmCherry commented on #182
UPD: actually nope, metrics are "fine" (metric design choices are questionable, but they kinda work). What actually happens is:

- metrics store approx bytes written only for last second measured
- so if there was no traffic for the last second within the minute (config refresh interval)
- it'll return 0 and will write a "The app doesn't seem to generate any traffic, please contact your admin" war

[2022-03-06 17:52] Andrmist commented on #78
https://github.com/Andrmist/db1000n_target_generator

[2022-03-06 18:41] iamtodor opened #189 "[Discussion] Providing certain restricted access to the repo"
As a follow up to the PR https://github.com/Arriven/db1000n/pull/187
Please take a look at the docs:
-  https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/managing-teams-and-people-with-access-to-your-repository
- https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-orga

[2022-03-06 18:43] dmy3tka commented on #132
We can close the issue. We don't have issue with targets update.

[2022-03-06 19:00] Amet13 commented on #100
It would be great to do a check, but without access to the cloud, it's impossible.
For those changes related to terraform we could ask for `terraform plan` output to review changes at least

[2022-03-06 19:08] industral opened #190 "docker compose random VPM"
So far I see in docker compose we have predefined VPN endpoints

https://github.com/Arriven/db1000n/blob/main/docker-compose.yml `VPN_CONFIG_FILE: provider01.endpoint01.conf`

I like the approach you did when you provide openvpn folder and it select VPN randomly.
it might be very useful to restart docker let's say each 15min via cron and it will select another IP due to such approach.

Can we retu

[2022-03-06 19:08] Amet13 opened #191 "Update tutorial on Google Drive"
This doc was mentioned in the large telegram channel: https://docs.google.com/document/d/1onvSrNu1FnNKDHD0Mtwf0KoOSuZJOClHqHOs5cu20Mc/edit#

If someone has access to it, it would be great to update it, at least links to binaries

@Arriven fyi

[2022-03-06 19:11] iamtodor commented on #100
@Amet13 yeah, I suppose we need to have the individual account

[2022-03-06 19:16] iamtodor commented on #191
@Amet13 I see no point to maintain this doc as well. We have two READMEs:
- https://github.com/Arriven/db1000n/blob/main/README.md
- https://github.com/Arriven/db1000n/blob/main/README-ua.md

I am strongly against maintaining even more resources. I would propose where we had links to Google Docs update links to READMEs.

Having 2 descriptive and extensive READMEs is more than enough.

Maybe we nee

[2022-03-06 19:17] Amet13 commented on #191
agree with that

[2022-03-06 19:28] dmy3tka commented on #189
Please note paths how this MR was submitted https://github.com/db1000n-coordinators/LoadTestConfig/commit/b8886cce0aa5787260046e4acbab35832a347ec5

It broke async load once again! We can have more of these.

[2022-03-06 19:32] Arriven commented on #182
Yeah, metrics were added rather quickly with focus on showing users at least something (remember, the app is just a bit more than a week old). I think I'll change it to track overall traffic generated instead of doing the per second thing until I get time to implement something more robust

[2022-03-06 19:36] iamtodor commented on #189
@dmy3tka I'm not sure whether your comment relates to the topic

[2022-03-06 19:36] Arriven commented on #183
db1000n updates targets automatically regardless whether it's pointed at remote or local config. You should even be able to do something like `-c https://remote/config/url,path/to/local/config`- that way it'll try fetching remote config first and backup to file if remote one fails

[2022-03-06 19:44] synapse-unix commented on #189
@iamtodor what is intend of your activity, to limit possibility of merging MRs that broke things from unreliable sources? As you can check, the merged commit above removed async, that degrades CPU utilization of the application from 100% to 1%, by removing async. So it is one of the examples of such harmful changes.

[2022-03-06 19:47] iamtodor commented on #189
@synapse-unix `what is intend of your activity, to limit the possibility of merging MRs that broke things from unreliable sources?` - actually no. I would like to have the access to issues / PRs.
I am not going to have merge power.

[2022-03-06 20:04] mxmCherry commented on #182
Right now my question is "**shoud we decrease default timeout in the program? I suggest 1-5 seconds default, not more**" so if load-testing target doesn't hold the load app from testing other targets.

Async=true could help with "blocking", but that's a sure way to OOM (uncontrolled `go func()` spawned each ~1s with 90s timeout.

---

Metrics-impl-wise:

I suggest not to reinvent the wheel and tak

[2022-03-06 20:05] bitshape commented on #190
@industral I'm working on this, PR incoming in a bit

[2022-03-06 21:08] #115 closed

[2022-03-06 21:09] Leta0n commented on #115
Works great now, thanks!

[2022-03-06 21:11] Arriven commented on #182
For async=true ideally we'd implement sending http frames into packetgen or use something similar to send http frames without waiting for response in a more efficient manner.
We need to consider ROI when implementing features here. I've spent roughly 30 minutes to implement metrics the way they are done now and I know I need only 10 more minutes near my laptop to make it work in a more stable mann

[2022-03-06 21:22] #182 closed

[2022-03-06 21:31] Arriven commented on #189
@iamtodor it looks like personal repos don't support triage access. I'd need to create an organization and move the repo there to be able to manage access at that level. Let's see if that is required in a couple days

[2022-03-06 21:31] #189 closed

[2022-03-06 21:46] bitshape commented on #190
@industral https://github.com/Arriven/db1000n/pull/193

[2022-03-06 22:25] m-v-kalashnikov opened #194 "docs with mkdocs"
As soon as project have multilanguage and as I see here will be quite big documentation I assume that it'll be better to use mkdocs.
If you find this helpful, I can take care of this.
Thanks

[2022-03-06 22:58] nonchalant-enthusiast opened #195 "missing value for "attack_environment_variables" for azure terraform config"
empty default value was removed from the variable: https://github.com/Arriven/db1000n/blame/main/terraform/azure/bomblet/variables.tf#L21
now the terraform deployment is failing because of it

[2022-03-07 00:56] #157 closed

[2022-03-07 06:23] #190 closed

[2022-03-07 06:34] #195 closed

[2022-03-07 06:47] #132 closed

[2022-03-07 07:37] Arriven opened #200 "Figure out a way to run packetgen without root permissions"
Currently packetgen jobs send this type of message when you run the program under regular user
`2022/03/07 06:51:38.219638 packetgen.go:77: Error sending packet: listen ip4:tcp 0.0.0.0: socket: operation not permitted`
This is happening because it needs raw connection in order to be able to customize ethernet, ip, and tcp/udp frames. It's not a huge issue but would be nice to know if there's a way

[2022-03-07 07:40] novikor opened #201 "Strange network traffic statistics"
**Preconditions**:
Linux mint + docker

**Steps to reproduce:**
run `docker run --rm ghcr.io/arriven/db1000n:latest`

**Expected result:**
Incoming traffic in less than outcoming one

**Actual result:**
![image](https://user-images.githubusercontent.com/26086561/156987976-3ff39cdd-b4d3-4a8a-af13-6daff49ec400.png)

I have checked older versions too - the behavior is the same

[2022-03-07 07:57] Arriven commented on #201
I'll check out the config in a minute but I'd assume that this means that targets it attacks don't use any DDoS protection and actually process and respond to requests. I'm not completely sure but it would mean that the attack is extremely effective since we're doing exactly what we want to do - make target spend as much of its resources on our load as we can.

Another possibility is that someone

[2022-03-07 07:58] Devaniti commented on #201
ddosing you back is certainly not happening here, you can clearly see that incoming traffic triggered by starting the app
so I'd too say that it works as expected

[2022-03-07 08:04] iamtodor commented on #189
@Arriven I cannot accept the invitation
<img width="620" alt="image" src="https://user-images.githubusercontent.com/12586108/156991518-e9b0e19b-b208-43bf-b23a-feb23cdfd7b2.png">

[2022-03-07 08:12] Arriven commented on #201
I think I know which attack is triggering this behavior and this graph is a good indication that the attack is not detected as DDoS by the receiving party. Having inspected the attack I also suspect that the configuration of this attack can be improved further now that we know the attack is not detected

If you want to understand more what is happening - try running something like `curl https://ra

[2022-03-07 08:12] #201 closed

[2022-03-07 08:23] #191 closed

[2022-03-07 08:48] iamtodor commented on #191
@Amet13 have any actions been applied? I see that the content of the file wasn't changed.
@Arriven let's update the doc itself by providing links to READMEs
Until that I suggest don't close this issue

[2022-03-07 08:50] novikor commented on #201
@Arriven , thank you!

[2022-03-07 08:53] Amet13 commented on #191
AFAIK, we don't have access to this doc.
Seems like someone just copy-pasted readme some time ago and we can't help with updating or deleting this doc

[2022-03-07 08:54] iamtodor commented on #191
@Amet13 hmmmm.. I thought @Arriven is the author of the doc, no? :D

[2022-03-07 08:58] iamtodor commented on #118
CODEOWNERS functionality was implemented in https://github.com/Arriven/db1000n/pull/187

[2022-03-07 08:58] iamtodor commented on #118
@Arriven @Amet13 I think we can close this issue

[2022-03-07 09:01] Amet13 commented on #191
I don't know, as I said, I found link to this doc in the large telegram channel

[2022-03-07 09:02] Devaniti opened #204 "If Russia blocks github, config won't load when using RU VPN"
We need to make some kind of mirror, for RU VPN users

[2022-03-07 09:03] Devaniti commented on #204
Preferably, it should be some large HTTPS website, so they can't easily block it

[2022-03-07 09:04] Arriven commented on #100
I've created a "triage needed" label for those types of PRs to mark that we need someone other than author to check that the change is working. I'll add that label here just so that you could find it easier

[2022-03-07 09:04] #100 closed

[2022-03-07 09:06] Arriven commented on #204
This is a good idea. I'll add that the app can already be configured to fetch config from multiple sources so the only part we need is to get that mirror up and running

[2022-03-07 09:08] Devaniti commented on #204
I'll try to do it

[2022-03-07 09:46] bitshape commented on #204
We could setup AWS Route 53-backed DNS with really low TTL (5 seconds) with Geo DNS. If request comes from RU, we route it to a known good mirror that can be accessed through RU VPN. If that mirror gets blocked, we find another one and everything gets refreshed in ~5 sec.

[2022-03-07 09:48] Devaniti commented on #204
@bitshape I'll setup mirror for git repo on another hosting, and you can setup AWS mirror
more mirrors is good, just in case

[2022-03-07 10:19] iamtodor opened #206 "New targets for attack"
The targets from https://dou.ua/forums/topic/36969/
Author is @dmytro-bilokha

[2022-03-07 10:35] #19 closed

[2022-03-07 10:37] AndriiChuzhynov commented on #8
I think this can be closed

[2022-03-07 11:35] IvanFromUa opened #208 "Incorrect traffic statistics displaying"
Displayed traffic statistic is not match with Task manager data about using network.
While Task manager is showing this:
![Perfomance_NET_07032022](https://user-images.githubusercontent.com/26162607/157021656-60fed17c-0442-4c8e-9e1f-44b337671b38.png)

db1000n via commad line is displaying: "The app is generating approximately 270 bytes per second"

I tried to change the virtual IP and VPN programs

[2022-03-07 13:07] dddbbbsss opened #210 "I have created DO terraform module, but I can't make pull requests."
This module creates a number of servers in each of provided region. If you set count = 2 and regions = ["nyc1", "nyc2", "nyc3"] this will create six servers total. Two servers in each of regions.
[repo](https://github.com/dddbbbsss/terraform_db1000n)

[2022-03-07 13:40] olegykz opened #211 "Installation trough pipe doesn't work on Debian"
[code]

[2022-03-07 13:44] olegykz commented on #211
Installation through `source` works fine:

[code]

[2022-03-07 13:44] olegykz commented on #211
Shall I create an appropriate fix for the README?

[2022-03-07 14:04] #211 closed

[2022-03-07 15:13] Vladisl0ve commented on #162
@Amet13 after last update (0.5.15) works fine
Thank you :)

[2022-03-07 15:13] #162 closed

[2022-03-07 15:53] Vladisl0ve opened #214 "A lot of exceptions"
Version: 0.5.15
OS: Windows

After 5-15 seconds starts to spam exceptions to the cmd.

https://imgur.com/a/PPvN0Tw

[2022-03-07 16:02] Liar4u commented on #214
The same problem
Win 11 AMD
v0.5.15

[2022-03-07 16:54] Arriven commented on #214
Can you paste the log here?
The way the app is designed it doesn't impact it as a whole but rather just some of the attacks but it would be nice to be able to assess the impact

[2022-03-07 16:56] #208 closed

[2022-03-07 17:08] industral opened #216 "dcoker-compose example doesn't work"
Using slightly modified docker-compose example from https://github.com/Arriven/db1000n/blob/main/docker-compose.yml

[code]

[code]

As you can see 1 container db_1000n + ovpn works fine, but the rest can't spin up.

[code]

From error log you can see something wrong with `/data/vpn/` folder. For some reason it can't find any file...
I can't connect to that docker due to

[code]

Not sure how to s

[2022-03-07 17:40] Liar4u commented on #214
https://anonfiles.com/j7T48cMfxb/piece_of_log_txt

[2022-03-07 17:47] #216 closed

[2022-03-07 18:01] pashagolub opened #217 "Failed to fetch config"
The latest 0.5.15 built from sources with go1.17.6 windows/amd64 produces a lot of errors:
[code]

The initial config seems to be loaded successfully.

[2022-03-07 19:05] ivan-huligan opened #221 "Why it finishes working after a minute or less?"
The tool stops processing after a minute or less. There was no Russian ship or the traffic message at all, just the attacks

[2022-03-07 19:37] Tronerta commented on #221
Same using docker

[2022-03-07 19:38] industral opened #222 "terraform aws use spot instances"
So far we pay for on demand instances, and it takes money.
Using spot instances - cheeper and allow to run more server for the same money :)

Need spot instances configuration for aws.
Thanks :)

[2022-03-07 19:42] iamtodor commented on #222
@industral @Arriven wasn't it implemented here https://github.com/Arriven/db1000n/pull/213 ?

[2022-03-07 19:45] industral commented on #222
Many thanks! You guys do changes too fast :)

[2022-03-07 19:45] #222 closed

[2022-03-07 20:10] Arriven commented on #221
Can you send the logs?

[2022-03-07 20:12] Arriven commented on #214
use log redirection to file and attach that file to the issue

[2022-03-07 20:13] Zinger1988 commented on #221
Same issue:

`runtime: failed to create new OS thread (have 962 already; errno=8)
fatal error: runtime.newosproc

runtime stack:
runtime.throw({0x7caf4f, 0x11})
        /usr/local/go/src/runtime/panic.go:1198 +0x64
runtime.newosproc(0x2151efc0)
        /usr/local/go/src/runtime/os_windows.go:922 +0x12c
runtime.newm1(0x2151efc0)
        /usr/local/go/src/runtime/proc.go:2251 +0xbd
runtime.newm(0x0,

[2022-03-07 20:20] Arriven commented on #221
kk, I see what's the issue here, will update the config to temporarily resolve it until I get an idea of a better fix

[2022-03-07 20:22] dmytro-bilokha commented on #206
I suggest targeting API gateways of payment processors and banks:
web.rbsuat.com 62.76.205.112
3dsec.sberbank.ru 62.76.205.110
auth.robokassa.ru 104.18.26.14
auth.robokassa.ru 104.18.27.14
merchantgateway.payture.com 195.122.19.202
altpay-gateway.begateway.com 54.217.0.232
royalpay-checkout.begateway.com 54.76.179.17
sredapay-api.begateway.com 108.129.36.234
continentpay-api.begateway.com 34.252.1

[2022-03-07 20:22] dmytro-bilokha commented on #206
If you are interested in payment API gateways, I could find more.

[2022-03-07 20:25] dmytro-bilokha commented on #206
Here is the JSON snippet for the mentioned hosts:
[code]

[2022-03-07 20:28] timsofteng opened #223 "Container stop after minute of work on VPS server"
Container stop after one minute on VPS server. On local machine it works fine.

Logs last tail:
[code]

Inspect container after exiting:
[code]

[2022-03-07 20:29] iamtodor commented on #206
@Arriven please take a look

[2022-03-07 20:29] timsofteng commented on #221
Same here. Added issue with logs as well

[2022-03-07 20:30] iamtodor commented on #221
@timsofteng why did you create a new issue https://github.com/Arriven/db1000n/issues/223 instead of putting logs here in order to keep everything in one place?

[2022-03-07 20:31] iamtodor commented on #223
duplicate. should be closed @Arriven

[2022-03-07 20:32] timsofteng commented on #221
I've seen this after creating. Let me fix it.

[2022-03-07 20:33] #223 closed

[2022-03-07 21:07] Arriven commented on #221
if the issues started around 16:00 UTC (18:00 Kyiv time or ~5 hours ago) - the issue should be fixed now

[2022-03-07 21:09] Arriven commented on #221
fun fact - this was due to an experimental feature aimed at maximizing resource usage for generating requests, but it turned out leaving it unsupervised is not a good idea (when I was testing it I made a typo in the config so the issue remained dormant until it got properly enabled 5 hours ago)

[2022-03-07 21:21] paqpaqpaqpaq opened #224 "What about AWS Lightsail Containers?"
Hi!
i found a guide https://telegra.ph/pigdogbomber-by-db1000n-over-AWS-LighSail-03-04

And then i understand, that i can create many free container services with Mi Micro power (1 gb ram 0.25 vCPUs).
2 container services per region (14 region), 5-7 containers per container services
2x14x5 = 140 containers

Each container with Image (ghcr.io/arriven/db1000n:latest) work and give success logs. (loo

[2022-03-07 21:28] ivan-huligan commented on #221
not fixed in v0.5.18. Still the same

[2022-03-07 23:45] nonchalant-enthusiast opened #225 "eats up 2 GB of RAM in ~2 mins and crashes with OOM error"
behavior is unstable on 2GB VPS, Ubuntu 20.04 using latest docker v0.15.8. while generating approx. the same amount of traffic

![Screenshot (31)](https://user-images.githubusercontent.com/27624986/157137074-935b5e6f-aa0c-4de9-a431-9744b6a78119.png)

![Screenshot (32)](https://user-images.githubusercontent.com/27624986/157137105-dcf85aea-6ec1-43b0-a72e-58abc9a5a3e5.png)
each spike corresponds to t

[2022-03-08 05:35] sivillakonski commented on #225
@nonchalant-enthusiast , thanks for submitting the issue. I didn't use the profiler this time, so there might be other memory leaks around. Please report if you keep observing any memory related issues.

By the way, what tool do you use to see the memory consumption in this fancy way? Is it Cockpit?

[2022-03-08 05:41] sivillakonski commented on #210
Hi @dddbbbsss, thanks for the contribution!
Can you please create a fork of this repo, add your changes, and later just create a PR request from your fork?

https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork

It's not super handy, but a very common approach for the Github-based projects :)

[2022-03-08 06:37] Arriven commented on #225
I think the issue might be deeper than the one addressed in the referenced PR. I also don't experience it running latest code as a regular executable but do experience it in docker. Looking at it

[2022-03-08 06:39] Zinger1988 commented on #221
In my case everything is fine at this moment. Issue was fixed.

[2022-03-08 06:49] freey0urmind commented on #217
The same issue on Ubuntu 18.04. At the moment the script is generating much less trafic as it was earlier.

[2022-03-08 06:54] Arriven commented on #225
ok, I've found what it is, poked the author and fixing now

[2022-03-08 07:24] #225 closed

[2022-03-08 08:39] Arriven commented on #221
There were 2 different issues - one for the amount of OS thread used, another for metrics memory usage, both should be fixed as of 0.5.19

[2022-03-08 09:19] alexwestside opened #231 "go install github.com/Arriven/db1000n@latest fails in golang:alpine docker"
Hi,

i'm using Dockerfile like this:

[code]

Command go install github.com/Arriven/db1000n@latest fails with error

#5 1.034 go: downloading github.com/Arriven/db1000n v0.5.19
#5 1.876 go install: github.com/Arriven/db1000n@latest (in github.com/Arriven/db1000n@v0.5.19):
#5 1.876        The go.mod file for the module providing named packages contains one or
#5 1.876        more replace directives

[2022-03-08 09:20] alexwestside commented on #231
Update

RUN go get github.com/Arriven/db1000n@latest - helps

[2022-03-08 11:23] Vladisl0ve commented on #214
With new patch (0.5.20) there are no problems.
I'm gonna close issue if @Liar4u also has no exceptions in cmd

[2022-03-08 14:16] Liar4u commented on #214
@Vladisl0ve fixed.

[2022-03-08 14:19] Arriven opened #234 "Use mapstructure instead of json.rawmessage in configs in order to be able to switch config format easily"

[2022-03-08 16:48] m-v-kalashnikov commented on #118
@Arriven @Amet13 I can move all docs to MKdocs which would be hosted on GitHub pages

[2022-03-08 17:28] Arriven opened #241 "Allow using system proxy settings in http job"
See https://github.com/valyala/fasthttp/blob/59f94a3f7137d0ad215bd262df7082d1e632a1f7/fasthttpproxy/proxy_env.go
for example

[2022-03-08 17:40] #241 closed

[2022-03-08 17:58] vjik-jig opened #243 "How to use proxylist with db1000n?"
How to use proxylist with db1000n?
Is it possible "out of the box"? What is the command to use?

[2022-03-08 18:07] industral opened #244 "terraform aws timeout"
[code]

**my.tfvars**

[code]

Always timeout by `ir_db1000n": Waiting up to 10m0s: Need at least 32 healthy instances in ASG, have 2`.
It could be 2, 10, 16, but always timeout.

Can timeout be increased from 10minutes to say 30min? Also not sure why it so slow do deployment.

[2022-03-08 18:08] mazanuj commented on #224
This is not quite the answer to the question, but rather an addition. I carry out most of the launches using Google Cloud Shell - it's more or less clear there. I have decided to expand to AWS Lightsail Containers.
In AWS I launched it like `docker run ghcr.io/arriven/db1000n:latest` as well as `ghcr.io/arriven/db1000n` with arguments (--rm; -it; --pull always).

**Here are the questions I would l

[2022-03-08 18:09] industral commented on #217
yeah had the same as well, and agree on traffic. But it might be `-advanced` image, that try to work in stealth mode.
In my case traffic is about 3-12Kb when app show avg traffic. It's super low, in compare as was before 5GB/min.
But I believe it allows to work in "safe" mode and not be detected as DDoS.

[2022-03-08 18:26] Boostro commented on #200
I have a similar issue.
`packetgen.go:65: Error sending packet: listen ip4:tcp 0.0.0.0: bind: An invalid argument was supplied.`

[2022-03-08 19:41] vladdancer commented on #217
@industral , I'm using avanced image and having similar problem:
[code]
Doing a simple curl to download this file works fine (with, without VPN).
The app is running from simple shell script.

Any suggestions how to fix it?

Other errors having with enabled VPN (Amsterdam, Sweden), provider expressvpn:
- `countrychecker.go:31: Can't check users country.`
- `Body' expected type 'string', got unconve

[2022-03-08 19:47] industral commented on #217
What I saw when it happened, because db1000n container started and openvpn container failed at some point.
And also tried to check connection from container and it was without internet connection.
But after some time - issue fixed, and internet appear.
Maybe it was transient issue, IDK.

Frankly all that openvpn switching is difficult and make only sense if you use async (not advanced) config whic

[2022-03-08 19:52] bitshape commented on #217
Docker VPN container already has health check to see if Internet is up:

https://github.com/wfg/docker-openvpn-client/blob/master/Dockerfile#L26

I'll investigate VPN angle as well a bit more as time permits.

[2022-03-08 20:27] Arriven commented on #224
@mazanuj it seems like everything boils down to the error from the point 4 of your comment. It seems like on aws the app fails to properly detect local ip for some reason. Not sure what is the exact problem there yet, will have to dig deeper into aws docs

[2022-03-08 20:28] Arriven commented on #224
Edit: everything except the country checker, although it also might be related

[2022-03-08 20:30] bitshape commented on #224
@Arriven running latest build locally (not AWS) with VPN I see the same issue as in point 4.

[2022-03-08 20:39] Arriven commented on #217
Oops, that one is actually new, although I thought nobody is using that particular functionality but let me check

[2022-03-08 20:40] Arriven commented on #224
@bitshape are you running it in docker or as an executable? And in case of latter do you use sudo?

[2022-03-08 20:48] mazanuj commented on #224
@Arriven The latest test with `ghcr.io/arriven/db1000n-advanced`:
[code]

[2022-03-08 21:07] bitshape commented on #224
@Arriven running in docker

[2022-03-08 21:42] Arriven commented on #243
See linked PR on how to configure it for an attack. You can also provide you own list via commandline (run it with `-h` for up to date reference)

[2022-03-08 21:42] #243 closed

[2022-03-08 22:20] paqpaqpaqpaq commented on #224
@Arriven, but still, i really don`t understand.. is AWS lightsail ddos method good and work correct?

my logs with `ghcr.io/arriven/db1000n:latest` :

![изображение](https://user-images.githubusercontent.com/101146590/157335156-c7621739-b485-4733-9b8c-a98a9d2af64e.png)

maybe we can speak on ukrainian to understand better each other ? :)

[2022-03-08 22:21] paqpaqpaqpaq commented on #224
@mazanuj so do u think the GCS is better because it can give non-Ukraine IP?

[2022-03-08 22:23] paqpaqpaqpaq commented on #224
@Arriven, @mazanuj
In AWS when u create container u can chose port

![изображение](https://user-images.githubusercontent.com/101146590/157335824-719e7b6a-b578-4a7b-9791-3fb519a47f91.png)

maybe it will solve problem ? (if it exist :D )

[2022-03-08 22:57] bitshape commented on #217
[code]

So my anecdotal experience here is that simply sleeping before doing any work solves this issue (docker with VPN). Problem is relatively easy to verify if you connect to relatively slow VPN.

I'm going to keep looking.

[2022-03-08 23:07] freey0urmind opened #247 "The app doesn't seem to generate any traffic"
2022/03/08 23:04:12.337415 runner.go:157: The app doesn't seem to generate any traffic, please contact your admin

2022/03/08 23:04:42.338450 config.go:29: Failed to fetch config from "https://raw.githubusercontent.com/db1000n-coordinators/LoadTestConfig/main/config.json": Get "https://raw.githubusercontent.com/db1000n-coordinators/LoadTestConfig/main/config.json": dial tcp: i/o timeout

2022/03/0

[2022-03-08 23:17] freey0urmind opened #248 "Error looking up DNS / Error sending packet"
2022/03/08 23:13:57.518243 utils.go:153: Error looking up DNS: lookup online.sberbank.ru on 24.200.210.241:53: read udp 172.17.0.2:41928->24.200.210.241:53: i/o timeout
2022/03/08 23:13:57.518279 packetgen.go:65: Error sending packet: lookup online.sberbank.ru on 24.200.210.241:53: read udp 172.17.0.2:41928->24.200.210.241:53: i/o timeout
2022/03/08 23:13:57.518291 utils.go:153: Error looking up D

[2022-03-09 07:05] Arriven commented on #224
@paqpaqpaqpaq from the logs it looks like only one of the attacks is not working (yes, it generates most of the traffic, but I'm already assuming that traffic can be easily blocked by almost any DDoS protection, unless this attack is configured by a security professional). So while this bug doesn't allow us to use the tools' full potential on aws it still should have around 80% of it's effectivene

[2022-03-09 07:19] WadoZzz opened #249 "sendmsg: invalid argument - latest version"
2022/03/09 07:16:27.979233 config.go:33: Loading config from "https://raw.githubusercontent.com/db1000n-coordina
tors/LoadTestConfig/main/config.json"
2022/03/09 07:16:27.979263 config.go:91: New config received, applying
2022/03/09 07:16:27.979875 runner.go:118: 74 job instances (re)started
2022/03/09 07:16:27.980493 packetgen.go:46: Attacking 5.188.198.134:22
2022/03/09 07:16:27.987567 http.go:8

[2022-03-09 07:59] #249 closed

[2022-03-09 08:01] Arriven commented on #247
Can you check if you can download that config manually via curl from the corresponding instance? `curl https://raw.githubusercontent.com/db1000n-coordinators/LoadTestConfig/main/config.json` should be enough

[2022-03-09 08:02] Arriven commented on #248
Both this and #247 seem to indicate that there are a lot of network problems on the instance you are running this app on. Can you check out if anything else is working?

[2022-03-09 12:06] #8 closed

[2022-03-09 14:39] yaskravi opened #264 "How to verify db1000n works as expected?"
How to verify db1000n works as expected?
1. In docker on virtual machines
2. In Kubernetes

[2022-03-09 14:43] Aljnk opened #265 "Error building raw connection: listen ip4:tcp 0.0.0.0"
Starts from v.0.6 my log looks like this

**2022/03/09 14:36:00.109907 packetgen.go:66: Error building raw connection: listen ip4:tcp 0.0.0.0: socket: An attempt was made to access a socket in a way forbidden by its access permissions.
2022/03/09 14:36:00.110213 runner.go:112: error running job: listen ip4:tcp 0.0.0.0: socket: An attempt was made to access a socket in a way forbidden by its access

[2022-03-09 15:36] #265 closed, assigned to nobody

[2022-03-09 15:41] Aljnk commented on #265
Thanks

[2022-03-09 16:44] iamtodor commented on #264
@Arriven I would rather just mention that seeing these logs:
[code]
taken from https://github.com/Arriven/db1000n/blob/a2f4abf8ab2a624a90c83df3ee4554117a47a64b/src/runner/runner.go#L161 means the app is up and running.

[2022-03-09 17:07] SLDay opened #268 "Windows 10: An attempt was made to access a socket in a way forbidden by its access permissions."
Hello, I keep on getting following error on four Windows 10 hosts. Can you please help?

`2022/03/09 16:49:24.851642 packetgen.go:66: Error building raw connection: listen ip4:tcp 0.0.0.0: socket: An attempt was made to access a socket in a way forbidden by its access permissions.`
`2022/03/09 16:24:13.512075 runner.go:112: error running job: listen ip4:tcp 0.0.0.0: socket: An attempt was made to

[2022-03-09 17:14] #268 closed

[2022-03-09 17:19] SLDay commented on #265
Dear Arriven, could you please advise how can I solve similar problem. I receive following errors when I run the tool in Windows 10 with Administrator previlages.

[code]

[2022-03-09 17:34] pashagolub opened #269 "error running job: listen ip4:tcp 0.0.0.0: bind: An invalid argument was supplied"
[code]
--

[code]

[2022-03-09 18:36] freey0urmind commented on #247
Yes, I can download. The script was displayed directly in the terminal window.

[2022-03-09 18:39] freey0urmind commented on #247
One more thing the line " The app doesn't seem to generate any traffic, please contact your admin" is not coming anymore, instead I am getting the "The app has generated approximately XXXXXXXXXX bytes of traffic" which is good I believe.

[2022-03-09 19:28] freey0urmind commented on #217
Even though the fetch line is till there I believe the situation is better now but I am kinda confused ))
[code]

[2022-03-09 19:31] synapse-unix opened #272 "OOM killed"
Got container **OOMkilled** today, from syslog:

Checking `docker stats` now. Advice what information should be collected?

Running currently with `sudo docker run -it -d --pull always --restart on-failure ghcr.io/arriven/db1000n`

[2022-03-09 20:37] kirealll opened #273 "runner.go:112: error running job: write ip 0.0.0.0->60.60.121.145: sendmsg: not implemented on windows/amd64"
I get the following errors on all my Azure VM Windows servers:

2022/03/09 20:31:20.432725 runner.go:112: error running job: write ip 0.0.0.0->60.60.121.145: sendmsg: not implemented on windows/amd64

OS: Windows Server 2022
db1000n release: db1000n-v0.6.4-windows-amd64

[2022-03-09 22:31] nonchalant-enthusiast commented on #272
Assuming you're on the latest build, it's probably related to the low RAM, it's recommended to have at least 2GB. See #54

[2022-03-10 04:00] freey0urmind commented on #217
The fetch error line has gone. Thank you!

[2022-03-10 04:03] #248 closed

[2022-03-10 04:03] #247 closed

[2022-03-10 04:09] freey0urmind commented on #206
The script has started targeting a lot of IPs instead of a few urls recently. Is it normal? Thank you.

[2022-03-10 05:15] bitshape commented on #217
I've opened two PRs that might help with this issue or at least make it happen less often:

https://github.com/Arriven/db1000n/pull/275
https://github.com/Arriven/db1000n/pull/274

[2022-03-10 05:41] Arriven commented on #269
unless you run it with sudo this is kinda to be expected, see packetgen reference [here](https://github.com/Arriven/db1000n/blob/main/docs/configuration.md)
you should be able to see in the logs how many jobs were started overall to be able to assess how much impact these errors have on the overall effectiveness of the program. The only thing I could do here is improve logging to better indicate t

[2022-03-10 05:46] Arriven commented on #272
First of all I'd check for used version, the system you are running it on, how much memory is available to docker. If those seem plausible we can start digging deeper

[2022-03-10 05:52] Arriven commented on #273
this is one of the more advanced jobs that is not supported on all the systems. You can check the logs to see how many jobs are running there overall but the general idea is that app is configured to try to cover as much attack vectors as it can, even if some of those vectors would be successfully running on <20% of agents it would still make the overall traffic more diverse and challenge defender

[2022-03-10 05:54] Arriven commented on #206
@freey0urmind yes, it is normal

[2022-03-10 07:08] bitshape commented on #204
@Devaniti I've looked into setting this up on AWS S3 as mirror and if Docker image stats are any indication, it's going to cost prohibitive for me to run (~$3.5K/month).

[2022-03-10 07:20] bitshape opened #278 "Create forks of required Docker containers"
https://github.com/Arriven/db1000n/blob/main/docker-compose.yml

We're using the following two Docker containers:

- `willfarrell/autoheal:1.2.0`
- `wfg/openvpn-client:2.1.0`

For further security hardening (especially for autoheal since it's running privileged) in case other two repositories are compromised it would be recommended to fork them, build Docker images and then point `docker-compose.y

[2022-03-10 07:48] Devaniti commented on #204
@bitshape that's sad. Hopefully, small percentage of people will need to use that mirror, and they will load small config file. But they will reload it every minute. So it's hard to know for sure that it won't cost a fortune.

[2022-03-10 07:56] synapse-unix commented on #272
It’s Azure’s Standard_D2s_v3 instance, 2 core CPU, 8Gb RAM. 1 container was running, Load average is about 2.0.

I just checked stats of the running for 10h containers, RAM usage is around 161Mb. So it is good.

How now image version updates in a running container? Can it be caused that src in the container was incompatible with a newly fetched target config that caused a sudden spike that result

[2022-03-10 09:43] Arriven commented on #278
Thanks! Will take a look shortly

[2022-03-10 10:02] kirealll commented on #273
Ok, that makes sense. Thanks for the answer.

[2022-03-10 10:11] lollypot opened #279 "Support of system variable like ALL_PROXY with schemes http://ip:port and socks5://ip:port for using with tor and packetgen job type"
Continue of https://github.com/Arriven/db1000n/pull/207

For now we can set http proxy in two variants:

1. By system variable like `HTTP_PROXY` or `http_proxy`
2. By app argument like `-proxy 172.17.0.1:8080`

Both variants are work very well. But it seems we have other types of jobs which require socks5 proxy, especially packetgenJob. As I see in go library we can use something like this https:/

[2022-03-10 11:08] pashagolub commented on #269
terminal is running under admin role

[2022-03-10 12:16] Aljnk opened #280 "Every time after 2Gb - doesn't seem to generate any traffic"
After starting the program, everything works until it reaches a value more then 2B bytes. Then start write - "doesn't seem to generate any traffic". Proceed works after restart until 2B bytes - then same.

2022/03/10 11:36:41.789867 runner.go:162: Атака проводиться успішно! Руський воєнний корабль іди нахуй!
2022/03/10 11:36:41.790339 runner.go:163: Attack is successful! Russian warship, go fuck y

[2022-03-10 12:30] vladdancer commented on #217
Thank you @bitshape, @Arriven.
But I'm still having the same erros from the above. The only issue that has gone:
`Body' expected type 'string', got unconvertible type 'map[string]interface `

The next log sounds strange for me:
[code]

[2022-03-10 13:26] SomalianCoolhacker opened #281 "What's the status on "Slow Loris" method?"
Hi, when looking through changes in the main branch, I've discovered that, quote,

But the `slowloris.go` script is being updated frequently, so I'm wondering if it has already been fixed and does the provided example in `testconfig.json` can be used from now on to test attacks?

Many thanks to all contributors.

[2022-03-10 15:06] udjfvnsaoepna opened #282 "Support proxy list (--proxylist-url not work properly)"
You need to enable support for proxy and socks lists, with periodic updates

I tried using --proxylist-url
But this argument does not work properly, the program does not display any information on working with proxies

Proxy list must support different formats (without json, only text + support auth proxy)
Such as
[code]
Please add as soon as possible

[2022-03-10 15:36] Arriven commented on #279
that's actually a good question. I'd be looking at something like https://pkg.go.dev/golang.org/x/net/proxy#SOCKS5
I'm not sure whether it would be easier to embed it into packetgen or rawnet jobs but both of them use standard go net package to send their data so it should be possible. Will take a look at it myself a bit later

[2022-03-10 15:36] iffixit commented on #54
use container instances instead

[2022-03-10 15:44] Arriven commented on #281
ah, right, forgot to remove that note, thanks for bringing it up!

[2022-03-10 15:48] #281 closed

[2022-03-10 15:53] Arriven commented on #269
apparently, this feature is not supported in windows itself, see relevant issue for the go runtime https://github.com/golang/go/issues/6786

[2022-03-10 15:57] #118 closed

[2022-03-10 17:58] vladdancer commented on #217
Thank you @Arriven .
Yeah, I've updated docker image to the lates 0.6.5.
But still having error with fetching advanced config, when enabled VPN outside of container.

[2022-03-10 18:01] bitshape commented on #217
@vladdancer can you share relevant logs?

[2022-03-10 19:12] dmytro-bilokha commented on #206
@Arriven should I try to find more payment providers? Do you have a capacity to target them?

[2022-03-10 20:15] vladdancer commented on #217
I'm running the next script:
[code]

[code]

[2022-03-10 20:21] mazanuj commented on #224
@paqpaqpaqpaq
1. > @mazanuj so do u think the GCS is better because it can give non-Ukraine IP?

No, not in this case because both of these services work from non-Ukrainian IP. There are no such problems in GCS like in AWS but GCS has its own problems: 50 hours of quota, account blocking due to a violation of its Terms of Service, the necessity to periodically Reconnect.

2. > In AWS when u create

[2022-03-10 20:41] su-hs opened #287 "700% CPU usage on MacOS - performance issue"
Since `v0.6.2` and till now `v0.6.5` I download  executables from https://github.com/Arriven/db1000n/releases as suggested:
- for my Intel CPU - https://github.com/Arriven/db1000n/releases/download/v0.6.5/db1000n-v0.6.5-darwin-amd64.tar.gz
- for my M1 CPU - https://github.com/Arriven/db1000n/releases/download/v0.6.5/db1000n-v0.6.5-darwin-arm64.tar.gz
And both cases show extremely high CPU usage.

[2022-03-10 21:18] paqpaqpaqpaq commented on #224
@mazanuj
i got banned on AWS :(
AWS requested my personal info for verification and explanation my reasons for using Amazon Web Services

@Arriven, @mazanuj  you didn't get smth like that?

[2022-03-10 23:22] freey0urmind commented on #217
I was too fast saying the fetch issue had gone. Actually it does not occur just when I am vpn connected to one specific country. When I am connected to all others the issue occurs.
`2022/03/10 23:20:25.964203 config.go:32: Failed to fetch config from "https://raw.githubusercontent.com/db1000n-coordinators/LoadTestConfig/main/config.json": Get "https://raw.githubusercontent.com/db1000n-coordinators

[2022-03-11 11:15] bmirnoff opened #292 "IP address spoofing"
I observed code and see that config allows templating for headers and requests. But what about to add default IP address spoofing solution that adds headers for each HTTP attack

https://github.com/MHProDev/MHDDoS/blob/main/start.py#L566
`
("X-Forwarded-Proto: Http\"
                f"X-Forwarded-Host: {self._target.raw_host}, 1.1.1.1"
                f"Via: {spoof}"
                f"Client-IP: {

[2022-03-11 11:20] bmirnoff opened #293 "CludFlare bypass"
I think we need to add Cloudflare bypass https://github.com/MHProDev/MHDDoS/blob/2cd27e8b645d0dbf05048fa0e295844dc65a0671/start.py#L738
Also it might be configurable

[2022-03-11 11:54] vovagorodok opened #294 "Network traffic limitation"
There is any flag or config to limit network traffic? It's not possible to work at network from other PC when ddoser is turned on. Pages are not responsible. If it's possible to limit then will be nice to add this info to documentation. For me personally docker case is interesting one

[2022-03-11 18:13] bmirnoff opened #298 "HTTP job refactoring"
This is hard to modify code as it is really procedural and is not allowed to effectively contribute.
I am Providing PR with changes about it.

[2022-03-11 20:12] Arriven commented on #293
yeah, I've been looking into it. it would require either adding python or javascript interpreter to be able to properly run checks, I have some ideas but need some more time to reflect on them. I've been looking at https://pkg.go.dev/github.com/robertkrimen/otto as it's written purely in go and we don't need performance from the javascript module and pure go is easier to maintain (I've seen 4 othe

[2022-03-11 20:49] industral opened #300 "db1000n container doesn't have connection but vpn container has"
I wrote a script to check what IP have containers, and found strange thing, that VPN containers itself have internet, but db1000n containers - don't.

**track.sh**

[code]

Now check IPs:

[code]

As you can see - VPN containers have internet connection, but db1000n itself - don't.

[code]

[2022-03-11 23:12] Arriven commented on #298
Fixed in #301

[2022-03-11 23:12] #298 closed

[2022-03-12 03:56] sivillakonski commented on #292
@bmirnoff, The problem here is that `X-Forwarded-*` headers are usually set by the load balancers. I can't be 100% confident, but it feels like these headers would be overwritten by the reverse proxy servers on the target side

[2022-03-12 05:43] bitshape commented on #300
@industral https://github.com/Arriven/db1000n/pull/296 should fix it

[2022-03-12 08:00] bmirnoff commented on #293
@Arriven  Sound good, `otto` for me also looks like a promising solution. I also can investigate this direction and share ideas here

[2022-03-12 08:30] timsofteng opened #303 "Docker container stop work on targets after one minute"
Here is some logs.

[code]
I've pulled latest.

[2022-03-12 08:34] bitshape commented on #294
Make sure your PC is connected over Ethernet to your router if it isn't.

If you can setup Docker with VPN, it might be worth trying. VPN is unlikely to be as fast as your main connection so that's both benefit and downside. But more importantly, since your traffic will be encapsulated over TCP/UDP VPN connection, you're less likely to suffer from connection limit, which is what you're describing

[2022-03-12 08:38] bitshape commented on #287
I'm not maintainer so take my words with grain of salt but that's likely normal. It just means your CPU is very busy generating packets :)

Here's a screenshot of my M1:

![Screen Shot 2022-03-12 at 00 37 07](https://user-images.githubusercontent.com/821/158010686-f957596b-6035-405e-b91c-9771c84ce6b6.png)

Here's a screenshot of my x86:

![Screen Shot 2022-03-12 at 00 37 55](https://user-images.gi

[2022-03-12 08:56] Arriven commented on #293
@bmirnoff what would probably be most important (especially in terms of using otto) and what I didn't have a chance to check yet is whether the anti-bot check requires an event loop or if it is just a simple evaluation and the timeout can somehow be parsed from the page/code

[2022-03-12 09:08] Arriven commented on #303
What makes you think it has stopped working on targets though?

[2022-03-12 09:20] Arriven commented on #287
Yeah, it is normal, the app is currently configured to hit quite a lot of targets, might need to think about a way to provide the ability to scale the amount of jobs via commandline and lower the initial config

[2022-03-12 09:57] timsofteng commented on #303
Log stops print targets.

[2022-03-12 11:05] HorunS commented on #287
yes, I have the same issue with my Macbook pro i9 processor. It gets hot within few minutes. Please fix or provide configs

[2022-03-12 11:37] Arriven commented on #303
We changed that some time ago to print targets only when the app starts attacking them. It may be less obvious to users but it makes it a lot easier to diagnose problems. You can see that the app continues to generate traffic indicating that everything is fine

[2022-03-12 12:01] Arriven commented on #287
I've kicked off v0.7.0 - it has a way to scale resources dynamically via the commandline so I reduced the amount of jobs for that config to minimal, please check it out ( won't affect previous versions as v0.7.0 had backward incompatible changes in the config and I didn't backport this config change to those versions since they don't have the option to scale that easily)

[2022-03-12 13:30] timsofteng commented on #303
got it. ok. close it

[2022-03-12 13:30] #303 closed

[2022-03-12 14:07] exsesx opened #308 "Azure - wrong (outdated) run command"
Terraform Azure configuration is failing to start because of the wrong run command. Need to edit `attack_commands` variable in `terraform/azure/variables.tf`.

https://github.com/Arriven/db1000n/blob/c4488e52315677f14ad7672dafa21d7d777213fb/terraform/azure/variables.tf#L13

Should be:

[code]

Also, I'm not sure it's necessary to set the `-c` flag because work has been done on config mirrors...

[2022-03-12 15:44] artempolikarpov opened #310 "Broken download links in README file"
Unable to download due to broken tags in links (section Download an application for your platform)

[2022-03-12 17:01] #308 closed

[2022-03-12 17:08] koupok opened #311 "db1000n does not work (error screen inside)"
![ошибка ддос](https://user-images.githubusercontent.com/101471698/158027620-b113866f-cafc-4366-8677-b86505f3e188.JPG)
![ошибка 1000db](https://user-images.githubusercontent.com/101471698/158027693-6eb7f7fa-638e-416e-9f50-fa02061034ac.JPG)

**the network and internet are fine**

[2022-03-12 18:37] Samvolian commented on #311
+1

[2022-03-12 18:56] industral opened #313 "OpenVPN can't connect: Exiting due to fatal error"
Today after update, NordVPN stopped to work.

*.ovpn configs you can find here https://downloads.nordcdn.com/configs/archives/servers/ovpn.zip

[code]

and it's the same for all my containers now...

[2022-03-12 19:00] industral commented on #313
Issue was due to wrong docker-compose config, using

[code]

Strange OpenVPN error though...

[2022-03-12 19:00] #313 closed

[2022-03-12 19:08] industral commented on #300
I also tried that way, but it didn't work as it should be. I pulled latest code and it worked the same way it worked for me...
Issue is - we loose db1000n containers...

[code]

As you can see, we have 25 ovpn containers and only 21 db1000n containers...

Log from one of missed container:

[code]

[2022-03-12 19:13] Arriven commented on #311
It's only one of the jobs that doesn't work. See https://github.com/Arriven/db1000n/issues/269

[2022-03-12 19:13] #311 closed

[2022-03-12 19:34] industral commented on #300
few things I found might be useful, but still not sure how to fix it

1. I'd increase `retries` for `db1000n`, since they should be at least +1 we have for ovpn, since if `ovpn` container was able to work on 3rd attempt, chances that at the same time `db1000n` also had 3rd attempt and didn't have internet..
2. I had cases when ovpn containers showed healthy, but in fact didn't have internet. It's

[2022-03-12 19:53] bitshape commented on #300
@industral added one of your suggestions in the meantime https://github.com/Arriven/db1000n/pull/314/files

[2022-03-12 20:08] dobrik opened #315 "Docker container can't send packets"
I use docker to attack on two different PCs.
First is on windows OS with wsl (Ubuntu), on this configuration everything looks good, addesses changes, lines appear.
Also I have Linux installed PC (Ubuntu 18.04.3 LTS (GNU/Linux 4.15.0-144-generic x86_64)) and on it I have an issue, process freezes and I think attaсk does not happen.
I use this command to start container `docker run --rm ghcr.io/arri

[2022-03-12 22:14] vladdancer commented on #217
Ok, I think as a workaround for fetching config I should try to download it manualy with disabled vpn and then run db1000n container with overwritten entry point to specify path to the config.

[code]

I've tried to run the above but it seems I'm not very familiar with docker to mount host config properly into docker.
[code]
Could someone help with that?

[2022-03-13 02:31] Arriven commented on #315
It looks like the image you are using is quite old, this bug was fixed around a week ago (also it affects only one of the attacks with <1% chance)
Try running docker with `--pull always`

[2022-03-13 02:39] #315 closed

[2022-03-13 07:21] Arriven commented on #217
@vladdancer that one might actually be a bug. The way I did file vs url checking is probably detecting full path as some malformed protocol, I'll make a fix shortly, meanwhile you can try that same script but providing relative path to the config

[2022-03-13 08:07] Arriven opened #318 "Absolute path treated as a url when fetching config"
Ok, I think as a workaround for fetching config I should try to download it manualy with disabled vpn and then run db1000n container with overwritten entry point to specify path to the config.

[code]

I've tried to run the above but it seems I'm not very familiar with docker to mount host config properly into docker.
[code]
Could someone help with that?

_Originally posted by @vladdancer in https

[2022-03-13 08:08] industral commented on #300
@bitshape thanks! but whole bug was not fixed yet as far as I understand, but ticket was closed...
see item # 1 and 3

[2022-03-13 08:10] #318 closed

[2022-03-13 08:11] Arriven commented on #217
@vladdancer I've merged a fix for that particular problem, try using `db1000n-beta` image to confirm it works with your setup with passing config to the program via docker volume

[2022-03-13 08:12] bitshape commented on #217
@vladdancer i’m working on Docker solution that should fix this hopefully for good.

[2022-03-13 08:31] Arriven commented on #300
@industral this is due to how github handles referencing issues in PR description. @bitshape I usually use "wip" instead of "fix/fixed" in these cases so that github does link the PR but doesn't close the issue

[2022-03-13 08:38] Arriven commented on #310
Fixed, forgot to update readme properly after switching to mkdocs. please use https://arriven.github.io/db1000n for all the docs related to this package

[2022-03-13 08:38] #310 closed

[2022-03-13 11:15] bmirnoff commented on #293
Just for everybody's information, reference impl for CFB can be https://github.com/Anorov/cloudflare-scrape
js challenge is forked via node.js vm. Need to investigate actual process of solving a challenge.

https://github.com/Anorov/cloudflare-scrape/blob/e510962c608382bcef5de75033d60cc98cb9561d/cfscrape/__init__.py#L297

[2022-03-13 12:13] su-hs commented on #287
I confirm, that latest version `v0.7.0` seems OK, in regards CPU usage. I downloaded:
- for Intel CPU https://github.com/Arriven/db1000n/releases/download/v0.7.0/db1000n-v0.7.0-darwin-amd64.tar.gz
- for M1 CPU https://github.com/Arriven/db1000n/releases/download/v0.7.0/db1000n-v0.7.0-darwin-arm64.tar.gz

And both executions later on shows much lower CPU usage. Which I assume is OK now (18-21%).

<

[2022-03-13 12:14] su-hs opened #322 "v0.7.0 says DB1000n [Version: v0.0.1]"
I assume it's left over hardcoded version value or somewhere the code has not been changed properly

<img width="570" alt="Screenshot 2022-03-13 at 13 14 20" src="https://user-images.githubusercontent.com/100500001/158058905-acebb531-962b-4985-a289-63b785ee7fb3.png">

Reproduced via executables on MacOS
- for Intel CPU https://github.com/Arriven/db1000n/releases/download/v0.7.0/db1000n-v0.7.0-darw

[2022-03-13 12:19] su-hs commented on #287
But so far, I consider this issue can be closed now.

[2022-03-13 12:19] #287 closed

[2022-03-13 13:28] #282 closed

[2022-03-13 13:49] s7aycool commented on #300
+1
db1000n doesn't have internet access with vpn on Linux Ubuntu 20.14

[2022-03-13 14:13] arfgdev commented on #322
it seems that makefile does not add `ldflags` `+ go build -o build-artifacts-1647175086/db1000n ''` (https://github.com/Arriven/db1000n/runs/5527622054?check_suite_focus=true line 185 )

[2022-03-13 14:16] Liovareg commented on #294
You can limit cpu usage per docker container with "--cpus=0.1" param, this will therefore limit net usage as well.

[2022-03-13 14:33] Arriven commented on #322
Had some troubles setting up the release action to work with makefile (forgot that make is running on ubuntu for all targets, just uses different GOOS variable). Should be fixed in v0.7.4

[2022-03-13 14:33] #322 closed

[2022-03-13 14:43] industral commented on #300
so far so me works now the following config:

[code]

**condition: service_healthy** - did a trick

[2022-03-13 15:35] bmirnoff commented on #293
Here is actually how Cloudfare response looks like https://github.com/Arriven/db1000n/pull/324

[2022-03-13 16:08] SamvSeer opened #327 "Not sure this is an issue: Received HTTP 304 not modified..version 0.7.4"
error message while running: Received HTTP 304 not modified..version 0.7.4...darwin arm64

<img width="535" alt="Schermafbeelding 2022-03-13 om 16 59 07" src="https://user-images.githubusercontent.com/25307892/158068473-8625f693-ec4a-40af-b5eb-0075ae9d155a.png">

[2022-03-13 16:35] su-hs commented on #322
I do confirm - FIXED in `v0.7.4`.

[2022-03-13 17:41] #244 closed

[2022-03-13 19:28] arfgdev commented on #327
could you describe the way to reproduce it?

[2022-03-13 19:48] ChangeMe83 commented on #327
The same issue
`2022/03/13 19:44:51.195001 config.go:103: Received HTTP 304 Not Modified
2022/03/13 19:44:51.195023 config.go:59: Loading config from "https://raw.githubusercontent.com/db1000n-coordinators/LoadTestConfig/main/config.v0.7.json"
2022/03/13 19:44:51.195059 config.go:143: The config has not changed. Keep calm and carry on!
2022/03/13 19:45:51.156377 runner.go:152: Атака проводиться ус

[2022-03-13 20:47] arfgdev commented on #327
it is not an error.
it is an expected behavior https://github.com/Arriven/db1000n/blob/v0.7.4/src/runner/config/config.go#L103

[2022-03-13 21:23] vladdancer commented on #217
Thank you Arriven! It was not obvious to get right app path for the beta image, but I've managed it :)
Thanks god there is a tool https://github.com/wagoodman/dive and `docker inspect`

[code]

I confirm that next errors are gone:
- 2022/03/12 22:06:54.078495 http.go:128: Attacking <nil>
- config.go:32: Failed to fetch config from "/usr/src/app/config.adv.json": Get "/usr/src/app/config.adv.json":

[2022-03-13 21:39] SamvSeer commented on #327
ok..will close it. Just reported it because this message was not there in earlier versions.

[2022-03-13 21:39] #327 closed

[2022-03-13 21:54] su-hs commented on #322
@Arriven hope u will get notif from closed issue, but, look,

[code]

=>

![image](https://user-images.githubusercontent.com/100500001/158080747-98fee9bb-e5ba-43f8-9695-a198fbf964db.png)

`sha256:06b9ddf9b3228317b7cef1020bce96364a9a7b46c74d3ce3973e1b5c1daa68a8`

that image seems to be old. How it works? When new release appear, do you also re-publish image to Docker registry?

[2022-03-13 23:22] MisterKevinFlynn opened #330 "DEB package"
Is anyone is working on DEB packages?
Interested especially for Rasberry PI. If no and someone needs it too, I can work on it.

[2022-03-13 23:23] MisterKevinFlynn opened #331 "Raspberry Pi Images"
Is anyone working on Raspberry Pi images?
Do we need it?

I can work on it!

[2022-03-14 12:34] iamtodor commented on #331
@FPavlovskiy it was implemented already. Please, take a look at https://github.com/Arriven/db1000n/issues/116

[2022-03-14 16:39] su-hs commented on #287
@Arriven NOT 700% but latest v`Test encryption` version uses now around 200-400%
https://github.com/Arriven/db1000n/releases/tag/encryption-test

Used amd64 and arm64 executables.

<img width="825" alt="Screenshot 2022-03-14 at 17 37 05" src="https://user-images.githubusercontent.com/100500001/158218955-fd975927-1e7b-4a91-9a07-2a9dacac1c05.png">

Not sure what base version u used, and not sure tha

[2022-03-14 16:45] su-hs commented on #322
@Arriven I do confirm, that latest `v0.7.5` is ALSO OK in regards to described issue:

[code]

[2022-03-14 16:54] Arriven commented on #2
@kurlyk-dev you can enable Prometheus via the commandline, it's not a lot but could be useful for your use case

[2022-03-14 17:37] crocangIt opened #335 "User question: not clear wich version to use"
Hi,
It is not clear which db1000n (Windows) version is advised to use. Are you still testing V7+ ? ( v6 and v7 are using different config files).

It would be better to hide  countrychecker messages in v0.7.5:"Can't check users country.** Please manually check that VPN is enabled or that you have non Ukrainian IP address."
See in v0.7.5 :
2022/03/14 17:31:44.499782 main.go:54: DB1000n [Version: v0

[2022-03-14 17:50] FPavlovskiy commented on #331
@iamtodor I talked about OS image.
Use case: someone gets a Raspberry and flash image to the SD card.
Then just switch on and it just works?
The only thing that is not clear, is what has to be used as an VPN?

[2022-03-14 17:52] FPavlovskiy commented on #293
Please, fix a TYPO in the tittle ClOudFlare

[2022-03-14 19:00] crocangIt commented on #335
![image](https://user-images.githubusercontent.com/101589346/158242117-e72bcedc-154d-49db-8dc1-83faf7e7ee23.png)
Google drive doc- under Windows is old version. I know how to get the latest one. But we shouldn't confuse potential helpers.

[2022-03-14 19:13] justsomeguy0 commented on #335
Latest v0.7.6 is not working for me at all (though my windows firewall prompt appeared and I allowed what it asked), previous one (v.0.7.5) works.

[2022-03-14 19:20] iamtodor commented on #335
@crocangIt g-doc is not up to date. it's not supported a long time ago. please read the official documentation
- https://arriven.github.io/db1000n/en/#for-dummies
- https://arriven.github.io/db1000n/uk/#%D0%B4%D0%BB%D1%8F-%D0%BD%D0%BE%D0%B2%D0%B0%D1%87%D0%BA%D1%96%D0%B2

[2022-03-14 19:49] su-hs commented on #287
UPD. `v0.7.6` CPU usage is between 20-30 %

[2022-03-14 20:51] AnatolHol commented on #335
Versions 0.7.6 and 0.7.7 do not work under win10 21H2 (19044.1586), or am I doing something wrong
![Буфер обмена](https://user-images.githubusercontent.com/101464704/158259123-fd6bd9b0-a0d4-4458-a961-dc6cb64e8af4.png)
?

[2022-03-14 21:12] crocangIt commented on #335
Same issue here. I went back to last working-  v0.7.5

[2022-03-14 22:21] SerhiiZavalko opened #339 "Version 0.7.7 crashed on Windows10: need to fix"
**Powershell**
[code]

**CMD**
[code]

[2022-03-14 22:26] 5har0varik commented on #339
Same issue

[2022-03-14 22:29] SerhiiZavalko opened #340 "Create Terraform deployment for Amazon Elastic Container Service (ECS)"
Create terraform deployment for Amazon Elastic Container Service (ECS) with docker image, please, in addition to Amazon EC2.
ECS consumes less resurces & have uniqe IP unlike VM instanse in EC2 with several docker containers.

[2022-03-14 22:54] dmitry-salnikov opened #341 "Feature request: "-use-advanced-config" flag for binary distribution"
Since you've added self-update for binary distribution - thanks! - could you please add the CLI option to use advanced config - same as used by docker image `ghcr.io/arriven/db1000n-advanced` mentioned in the docs.

It's preferrable to add kind of `-use-advanced-config` flag instead of specifying exact config path, because when running the tool like
[code]
the binary eventually updates to 0.8, and

[2022-03-14 23:47] kt368 commented on #339
Same issue

C:\Users\kt368\Downloads\war\ddos\db1000n>db1000n.exe
2022/03/14 23:46:06.697718 main.go:54: DB1000n [Version: v0.7.7][PID=152360]
2022/03/14 23:46:06.697718 countrychecker.go:28: Checking IP address, attempt #0
2022/03/14 23:46:07.963205 countrychecker.go:97: Current country: Canada (23.16.71.87)
2022/03/14 23:46:07.963205 prometheus.go:213: Can't get system cert pool
2022/03/14 23:46

[2022-03-15 01:08] vladdancer commented on #217
Guys, you're so fast with recent updates) I got broken db1000n.
Any ideas why the app doesn't generate traffic anymore?

[code]

I've used flags `country-list, prometheus_on` to prevent checking country and statistics, since it doesn't work for me. The funny thing the `curl ifconfig.me` shows correct IP (of VPN).

[code]

[2022-03-15 03:40] sivillakonski commented on #339
Hi there, chaps!

Thanks for reporting the issue. This is the fix to overcome this problem on Windows machines. Not so skilled to work with the Prometheus, but it should help I believe

[2022-03-15 03:42] sivillakonski commented on #341
Hi folks, thank you for your feedback!
Lemme see what we can do with this :)

[2022-03-15 06:16] bitshape opened #343 "Config signing instead of encryption"
@Arriven wanted to ask you question before implementing something that you might have no interest in.

Having default configuration encrypted has two distinct downsides:

- It's uninspectable
- It's not possible to compile `db1000n` binary or Docker container from fork (decryption error due to missing key)

I can think of couple of upsides of having configuration encrypted that I will keep to myse

[2022-03-15 06:26] kt368 commented on #339
Could you please explain how to get a working executable file for windows 10 64-bit? My skills in programming is very low...

[2022-03-15 06:27] zx6150 commented on #339
Probably the same. At startup this shows up and then app crashes

[code]

[2022-03-15 06:29] bitshape commented on #339
You might want to wait until https://github.com/Arriven/db1000n/pull/342/files is merged as it seems to address this problem

[2022-03-15 07:51] S767 opened #344 "On AWS Windows t3.small"
Windows executable get error:

C:\Users\Administrator\Desktop>db1000n.exe
2022/03/15 07:47:17.100981 main.go:54: DB1000n [Version: v0.7.7][PID=3964]
2022/03/15 07:47:17.101527 countrychecker.go:28: Checking IP address, attempt #0
2022/03/15 07:47:18.806696 countrychecker.go:97: Current country: Germany (212.115.110.190)
2022/03/15 07:47:18.807715 prometheus.go:213: Can't get system cert pool
2022/

[2022-03-15 08:16] Arriven commented on #339
should be fixed in v0.7.8

[2022-03-15 08:22] Arriven commented on #331
@FPavlovskiy while the idea is interesting I'm not sure the app is mature enough for this use-case as new versions come out almost every day (sometimes multiple times a day). Your other issue with deb package probably makes more sense at this stage (I'd also add runit and systemd services in that case)

[2022-03-15 08:25] Arriven commented on #335
@AnatolHol @crocangIt there was a bug in v0.7.6, should be fixed in v0.7.8 (see #339 )

[2022-03-15 08:25] #335 closed

[2022-03-15 08:36] neatdecisions commented on #343
Just to add a few cents, the decryption procedure is quite memory-hungry. I understand that the recommended minimum of RAM is 2GB, but it ran just fine on multiple SoC devices with 1GB (standalone version rather than docker one). That is until the config was encrypted: after that all my instances crashed due to OOM during the decryption. As a workaround I've put the previous unencrypted config ver

[2022-03-15 08:41] Arriven commented on #343
config encryption was implemented intentionally in order to utilize surprise element better. considering your feedback I'm working on changing it so that only specific jobs could be encrypted (hopefully reducing the memory footprint) and there will be an option to disable encrypted jobs from being run if not being able to inspect them is an issue for you

[2022-03-15 09:19] Arriven commented on #344
should be fixed in v0.7.8 (see #339 )

[2022-03-15 09:19] #344 closed

[2022-03-15 09:40] Arriven commented on #343
@bitshape @neatdecisions I've changed the config to have only some parts of it encrypted, v0.7.9 can already work with that
@bitshape config signing can also be implemented if you want

[2022-03-15 12:17] su-hs commented on #287
@Arriven  me again. Just wanna let u know, that version `v0.7.9` aka darwin arm64 causing now extremly noisy fan. CPU M1  - 400-666% CPU usage.

Value is OK, I saw it previously, but my fan was not so noisy.

Something definitely changed since 0.7.7. in regards to performance. right?

[2022-03-15 12:32] Arriven commented on #287
@su-hs the key idea of this app - the configuration with all the attack targets is changed remotely. the config changes all the time and the amount of targets is different there meaning different load being generated. Under normal conditions there would be a whole team of people managing and testing the configuration of this app but we're not operating under normal conditions now (I'm working on g

[2022-03-15 12:43] Arriven commented on #217
@vladdancer the problem was this line `config.go:135: Can't decrypt config`
beta images don't contain proper encryption keys and at the time whole config was encrypted. I've changed it to encrypt only specific jobs that require the element of surprise to be more effective so the beta image will work but it won't be able to run those encrypted jobs. Also you shouldn't be using beta image full-time,

[2022-03-15 12:44] Arriven commented on #217
unless you want to help testing out new functionality, but even then it's better running most of your instances on regular images and only 1 or 2 on beta to be able to spot issues in new features before they get released

[2022-03-15 12:45] crocangIt opened #347 "Version 0.7.9 crashing on Windows10: need to fix"
v0.7.8 is working, but v0.7.9:

C:\Users\Ivo\Desktop\db1000n-v0.7.9-windows-386>db1000n.exe
2022/03/15 12:40:03.255152 main.go:55: DB1000n [Version: v0.7.9][PID=4732]
2022/03/15 12:40:03.255152 countrychecker.go:28: Checking IP address, attempt #0
2022/03/15 12:40:06.134636 countrychecker.go:97: Current country: Netherlands (77.249.234.246)
2022/03/15 12:40:06.135413 prometheus.go:247: Can't get t

[2022-03-15 12:56] Arriven commented on #347
OOM errors again, it seems like even with the latest change to encrypt only part of the config it still doesn't have enough memory to parse it. You can temporarily get around it by passing `--skip-encrypted` via commandline args

on a bit different topic, @crocangIt does the app crash completely or does it print this error and continues generating at least some traffic?

[2022-03-15 13:20] crocangIt commented on #347
It seems that some traffic is generated.
It is busy for a few seconds and then it crashes completely:
See the attachment.

[log.txt](https://github.com/Arriven/db1000n/files/8253607/log.txt)

[2022-03-15 16:04] AnatolHol commented on #347
I have 24 GB RAM, Win10 x64, same problems.

[2022-03-15 16:04] kurlyk-dev commented on #347
Crashing on AWS `t3.small` instances too.

[2022-03-15 16:44] SamvSeer opened #348 "prometheus.go:273: Can't push metrics to gateway, trying to change gateway...?"
output while running job db1000n:

prometheus.go:273: Can't push metrics to gateway, trying to change gateway

[2022-03-15 17:43] udjfvnsaoepna opened #349 "Work with proxy with rotaion ip"
I have mobile ru proxy with rotation ip every 1 min
`http://login:password@proxyip:port`

I try
`db1000n.exe -proxy http://login:password@proxyip:port`

But program show my real ip:
[code]

How set proxy correctly ?

[2022-03-15 18:55] Arriven commented on #347
@crocangIt not removed, just "optimized": we discovered that when multiple threads try to decrypt the data in parallel - each of them have to create their own decryption key copy and each copy takes roughly 256Mb of RAM. I've changed the config to only contain one encrypted part but I'm also working on making it so that no two threads can decrypt data in parallel (it's not crucial to performance a

[2022-03-15 19:09] Arriven commented on #348
we've enabled metrics to be able to see how much traffic we generate and be able to adapt our strategy accordingly. this message just means that we can't see the traffic you generate (so we're slightly underestimate the overall traffic but it's not critical as we should still see the general picture and tendencies)

Most likely causes are:

1. the app can't connect to the gateway - this could eith

[2022-03-15 19:14] SamvSeer commented on #348
thanks for the feedback. will close the issue..btw running the job with VPN..currently from France.....same message occurs

[2022-03-15 19:14] #348 closed

[2022-03-15 19:50] Arriven opened #353 "switch debug logging to uber/go-zap"
the main reason this logging library wasn't integrated yet is because structured logging is not as easily understood by users as raw logs, but that logic doesn't spread to debug logs which are not meant to be seen by users. it would also be easier to disable debug logging in encrypted contexts this way

[2022-03-15 20:00] #347 closed

[2022-03-16 09:55] #353 closed

[2022-03-16 10:49] #272 closed

[2022-03-16 11:24] Nereg opened #360 "New method of DoS?"
CVE-2022-0742: Remote Denial of Service on Linux Kernel >=5.13

Flooding icmp6 messages of type 130 or 131 is enough to exploit a memory leak in the kernel and cause the host to go out-of-memory. The volume of traffic doesn't need to be particularly high:

https://www.openwall.com/lists/oss-security/2022/03/15/3

maybe we can integrate this ?

[2022-03-16 11:54] cawa-93 opened #361 "Auto-installing failed on Windows and MacOS"
I tried run in github actions.
https://github.com/cawa-93/dd0/blob/f477b9721249ed1fa96d3687b28c22882ecccaba/.github/workflows/lint.yml#L33-L35

But it works only on Linux. Auto-installing on Windows (in git-bash) and macos was failed.
https://github.com/cawa-93/dd0/runs/5569342162?check_suite_focus=true

Including locally on my PC.

[code]

As far as I can see the archive is downloaded but not unp

[2022-03-16 13:00] Arriven commented on #360
Potentially could be a separate job though, packetgen requires root permission and it's probably not the best in terms of usability

[2022-03-16 14:49] vgoncharenko commented on #153
AWS team have approved bill adjustments for my acc:
`We’ve approved a billing adjustment of $5,099.73 USD for charges on your March bill, which has been applied as a credit to your account. This credit will automatically apply towards this month’s usage and can be referenced in your Account and Billing Console.`

[2022-03-16 14:52] industral commented on #153
congrats!

[2022-03-16 17:44] ciegoo opened #362 "DB1000N not working on Windows"
Hi friends,

I am using your windows script file in different computers in order to attack as much as possible. I have tried some versions but only works good 5.12. This is the version that allows to send about 60 gB attack per day, other newer version doesn't work or send 2,4 gB per day. I am not an axpert in this staff but something is failing here. If I am wrong please explain to me what versio

[2022-03-16 17:59] temorfeouz opened #363 "Packetgen job write ip 0.0.0.0->xxx.xxx.xxx.xxx: sendmsg: invalid argument error"
Hi! Trying build custom config file, tcp and udp jobs working great, make more traffic than mhddos)
But ive faced with next error now:
{"level":"error","ts":1647453131.335018,"caller":"runner/runner.go:133","msg":"error running job","error":"write ip 0.0.0.0->xxx.xxx.xxx.xxx sendmsg: invalid argument","stacktrace":"github.com/Arriven/db1000n/src/runner.(*Runner).runJobs.func1\n\github.com/Arriven/

[2022-03-16 18:47] Arriven commented on #363
Oh, btw, current implementation doesn't support specifying both tcp and udp payload in the same job at once and udp one prevails, you can try disabling udp payload there to see if it works

[2022-03-16 19:00] Arriven commented on #360
https://pkg.go.dev/golang.org/x/net/icmp#example-PacketConn-NonPrivilegedPing
I'll leave it here for future reference along with https://pkg.go.dev/github.com/google/gopacket/layers#ICMPv6

[2022-03-16 19:42] temorfeouz commented on #363
i run as sudo, ive tryed remove udp option right now but it nothing changed. I saw you inspired by https://github.com/bilalcaliskan/syn-flood
i going to check how this project will do this

[2022-03-16 20:00] temorfeouz commented on #363
i`ve found out problem right now) problem in osx, when i run in docker all working good.
here example of working config
 {
      "type": "packetgen",
      "args": {
        "host": "XX",
        "port": "XX",
        "packet": {
          "payload": "test:blah",
          "ethernet": {
            "src_mac": "{{ random_mac_addr }}",
            "dst_mac": "{{ random_mac_addr }}"
          },

[2022-03-16 20:01] #363 closed

[2022-03-17 08:45] #231 closed

[2022-03-17 10:30] Lagovas commented on #362
which versions did you try? 0.5.12 released 12 days ago and changed a lot since that time and has a lot of fixes. maybe you will try some fresh versions?)

[2022-03-17 10:36] Lagovas commented on #343
you can use your own key in your own fork. read [how it works](https://github.com/Arriven/db1000n/blob/main/docs/advanced-docs/config-encryption.md).
Plus you can use not encrypted config files in the same manner as encrypted. So it is not obvious which problems you have that app doesn't work.

As I know about last fixes (#354), it should works well with 1GB too.

[2022-03-17 10:41] Lagovas commented on #343
and what the goal of signing? all configuration sources under control of the author of binaries and releases. so who should sign and who will verify, and for what?)

[2022-03-17 10:43] Lagovas commented on #330
I can only suggest to use [fpm](https://fpm.readthedocs.io/en/latest/) package that can generate DEBs/RPMs easily, and a lot other package types.

[2022-03-17 11:13] udjfvnsaoepna commented on #362
Download last version
https://github.com/Arriven/db1000n/releases

[2022-03-17 12:19] neatdecisions commented on #343
Yes, I confirm, this PR has fixed the high memory peak issues.

[2022-03-17 14:18] s7aycool opened #365 "All db1000n targets are refusing connection. WAIDW?"
debug log:
https://gist.github.com/s7aycool/3d51f00d45b5c747ed46288f7d6bbbf5

[2022-03-17 14:51] Lagovas commented on #365
probably russian resources updated their web servers and validate Host header ))
for example `141.105.69.219` now refuses connection but works as `https://infox.sg`.
So, maybe @Arriven should update default config and use domains instead of IPs. Or if main goal was to increase performance and avoid extra DNS queries, then we should specify manually expected Host in http request and TLS config's Se

[2022-03-18 07:34] alexdanger commented on #49
@Arriven is still relevant? if yes, could add a bit more details, thanks.

[2022-03-18 07:39] Arriven commented on #49
@alexdanger yes, it's still relevant in terms of packetgen. That module is intended to be able to generate any kind of network packets based on the configuration and it would be good to add support of various protocols to it. See https://pkg.go.dev/github.com/google/gopacket/layers#DNS for DNS reference of gopacket/layers which I use for tcp/udp/ip/ethernet frames generation. There's also a task t

[2022-03-18 12:14] osomfinch opened #369 "Linux version(amd64) doesn't start."
Hi! first of all, I'm very grateful for your work. It's amazing, really!

Now, the Linux version won't start on ZorinOS(Ubuntu). I download it, unpack it, and then I try to run it and nothing happens. What could be the problem?

Interestingly, it seems to be working via wine just fine.

[2022-03-18 12:27] Arriven commented on #369
does it output any logs?

[2022-03-18 12:28] Arriven opened #371 "Add ipv6 support to packetgen"
This is required to be able to utilize more protocols and vulnerabilities like #360
A lot of the methods are already drafted in `src/core/packetgen/packetgen.go` and `src/core/packetgen/connection.go` but we still need a way to configure the job accordingly and also templates for ipv6 (like `random_ip` and `local_ip`)

[2022-03-18 14:05] #371 closed

[2022-03-18 14:23] ciegoo commented on #362
Hi,

Fresh versions don't generate the same traffic weight than 5.12 does. Some
new versions crashed, ut now with last update is working fine.

Thanks,

Regards

El jue., 17 mar. 2022 11:30, Lagovas ***@***.***> escribió:

[2022-03-18 14:26] s7aycool commented on #365
Any updates? I see a lot of people who are having troubles with that

[2022-03-18 16:43] Arriven commented on #362
@ciegoo are you actively comparing 5.12 with latest version or those numbers are historical values?

[2022-03-18 16:47] Arriven commented on #365
@s7aycool current config is using both hostname based targets (around 60-70% of them) and IP based ones. Successful attacks don't spam error logs so it might be not really noticeable but the overall situation should be better

[2022-03-18 17:46] s7aycool commented on #365
@Arriven got you. Nevertheless, to be able to see % of successful attacks will be nice. Some kind of counter maybe?

[2022-03-18 18:05] Nereg commented on #360
Sadly I can't replicate it on my kali machine.
[Wireshark screenshot](https://prnt.sc/cQVhS8jvuSz2)
[Memory graph while the attack is running](https://prnt.sc/46tBIYOjqRGg)
I used `IPv6(dst='your address')/ICMPv6EchoRequest(type=131, data=b'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')` packet in scapy

[2022-03-18 18:11] Arriven commented on #365
I thought about that but properly tracking success rate requires a separate set of tools that could turn out to be more complex than this one. I think it's better to use them instead if you want to have a better picture of what's happening with targets

[2022-03-18 18:16] Arriven commented on #365
There are a counter with the amount of traffic generated by the app and the amount of traffic for which a target has returned some sort of response but not all attacks support that (some of them are fire and forget by design)

[2022-03-19 08:59] #341 closed

[2022-03-19 09:59] localdotcom opened #376 "Built-in DDoS protection bypass"
Hi guys, does db1000n have built-in options to bypass DDoS protections like DDoS Guard, Cloudflare DDoS protection etc.?

[2022-03-19 12:20] osomfinch commented on #369
No. The app simply doesn't start. I press on it and nothing happens.

[2022-03-19 17:15] sivillakonski commented on #369
@osomfinch, - " I press on it" - I do understand that you are trying to run it thru the file manager, correct?
Mind if I ask you to try to run it in a bit different way?

Open the terminal and navigate to the directory where you have your DB1000N executable file unpacked.
Then run the command in the terminal:
[code]

For example:
![Screenshot 2022-03-19 at 13 10 14](https://user-images.githubuserc

[2022-03-19 17:19] sivillakonski commented on #330
@FPavlovskiy , a quick question here. Do you want to have this DEB package to install as just a CLI utility or to run as a daemon?

[2022-03-19 17:53] DTBLA opened #377 "please add to the guide that for some locations in aws config main instance type need to be changed from t2.micro to t3.micro"
<img width="355" alt="image" src="https://user-images.githubusercontent.com/36825912/159132664-6d0c5a0d-b214-4834-a394-fa5be0fbe939.png">

[2022-03-19 18:23] securims commented on #78
I've written a small helm chart to save myself from copy-pasting simple jobs over and over, feel free to use it to save some time - https://github.com/securims/db1000n-config-generator

[2022-03-19 18:39] crocangIt commented on #365
@Arriven Hi,
On all VM's I have similar status: see Received and Response rate
Just restarted this one :
---------Traffic stats---------
 [     Generated ] 815.62 MB | 855236188 bytes
 [      Received ]   0.05 MB |     49936 bytes
 [ Response rate ]    0.0%
-------------------------------
As far as I know this started today. Since yesterday I am using: db1000n-v0.7.12-windows-amd64
Using different

[2022-03-19 21:10] Arriven commented on #376
It's not built in but it is already configurable enough to bypass some ddos-guard configurations and I'm working on functionality that would allow bypassing cloudflare and similar services

[2022-03-19 21:14] Arriven commented on #377
Probably would be best if you go ahead and make a PR yourself since as I understand it's not all regions that need this

[2022-03-19 21:20] Arriven commented on #365
From what I can tell - most alternatives tell their users that this behavior means that the targets are down (and that's actually quite likely the case). Ideally we'd want to confirm this by trying to access targets in non-disruptive way and see if they respond

[2022-03-20 02:31] osomfinch commented on #369
Yes, it works now. Thank you!

But I don't see any reason to use it instead of the Windows' version now. Cause with the Windows version I open it in two clicks, and with the Linux version I have to open the terminal and type a tone of things.

Since we know that the app works and the problem is in GNOME, is there a way to make GNOME open it via the GUI?

[2022-03-20 03:49] sivillakonski commented on #369
@osomfinch, glad to hear that!

Basically, this is CLI oriented utility that runs, in most cases, on the machines without the User Interface at all. Since it's fully automatic tool that receives configurations from the remote source - there is no need for user to see any kind of UI controls.

You can try to create the Desktop link like described here (https://askubuntu.com/questions/436891/create-

[2022-03-20 06:17] osomfinch commented on #369
Well, as we can see, I need it to be able to be run through GUI. It just goes to show how outdated the modern Linux desktop environment paradigm is. Especially it concerns GNOME. But it's a completely different topic.

Thank you for your help!

[2022-03-20 11:07] crocangIt commented on #365
Hi, last night I checked using RU VPN and all targets were down.
This morning I see under the "Response rate" of db100n:
UAE:  [ Response rate ] 18.9%
Denmark: [ Response rate ] 41.9%
Sweden: VPN provider1 [ Response rate ] 88.6% ; VPN provider2 [ Response rate ] 90.3%

Shell I switch all to Sweden?
Or it is better to spread the VPN locations?

[2022-03-20 13:43] dzhonzojdberg opened #379 "Prometheus charts"
Please make guest access to Prometheus charts.

[2022-03-20 16:30] crocangIt commented on #293
A bit more related repositories mentioned here (including Anorov) : https://githublab.com/repositories?q=cloudflare-scrape

[2022-03-20 20:18] arfgdev commented on #349
It is a bit tricky task. I am not sure if it is a good idea check the country if we have the list of 10000 proxies for example.

[2022-03-20 20:23] ciegoo commented on #362
Hi,
Some version newer than 5.12 had problem working in Windows, but now release 7.12 works good. Thanks for your comments.

[2022-03-20 20:23] #362 closed

[2022-03-21 02:37] mErlin-sp opened #382 "Load amount configuration"
Hello. I`ve looking into your project and it seems pretty good but i need to run up to 10 docker containers to utilize full of my cpu. Do we have a possibility to configurate amount of load (threads count, for example) in this software?

[2022-03-21 04:16] neuton commented on #200
I believe the only alternative way (under Linux) is to set CAP_NET_RAW capability on the executable, as mentioned by answers here https://stackoverflow.com/questions/20763039/creating-raw-socket-in-python-without-root-privileges

[2022-03-21 06:39] Arriven commented on #382
you can use `--scale 10` to achieve that same result

[2022-03-21 06:41] Arriven commented on #382
no automatic cpu load detection for now (probably wouldn't be as good anyway since a lot of use cases are limited by network performance or amount of unique IP addresses you can get)

[2022-03-21 07:47] Arriven commented on #279
@lollypot considering the fact that socks5 proxies don't work for udp I feel like it would also be impossible to add them to packetgen but feel free to experiment

[2022-03-21 11:03] S767 opened #386 "ver 0.7.12 & ver.0.8.0"
Зі вчора генерує мало трафіку (через windows аплікейшн на AWS + ClearVPN) та сьогодні
видає на версії 8
2022/03/21 10:58:47.659348 config.go:125: New config received, applying
2022/03/21 10:58:47.661349 runner.go:145: 14 job instances (re)started
[Error] No traffic generated. If you see this message a lot - contact admins
2022/03/21 10:59:47.420024 config.go:40: Loading config from "https://raw.gi

[2022-03-21 11:19] udjfvnsaoepna commented on #386
Я понял в чем, проблема. В конфиге только TCP задание.
https://raw.githubusercontent.com/db1000n-coordinators/LoadTestConfig/main/config.v0.7.json

[2022-03-21 11:30] MetaMmodern opened #387 "Something weird is going on, contact admins"
![image](https://user-images.githubusercontent.com/42899786/159252632-cd9ca524-85d6-4529-ad5f-6005fca1466f.png)
Started db1000n using tmux:

`tmux new -d "db1000n -enable-self-update"`

@Arriven What's wrong here? Worked fine until 10AM or so

[2022-03-21 11:33] Arriven commented on #386
latest config is this one: https://t.me/itarmyofukraine2022/222
soon will be updated with this https://t.me/itarmyofukraine2022/223

[2022-03-21 11:34] Arriven commented on #387
the config has changed to include only tcp targets, see #386

[2022-03-21 11:34] #387 closed, assigned to nobody

[2022-03-21 11:38] MetaMmodern commented on #386
@udjfvnsaoepna  But why having only tcp's does not generate traffic?

[2022-03-21 15:41] human1ty opened #389 "Proxy support"
Is it possible to feed the proxy list either via a direct link or a local text file as an argument to a tool
The intention is to apply a randomly selected proxy during the attack
As a proposal - do a test for some N number of proxies in order to
1) Find out whether the proxy usable
2) Find out its location
3) Find out response - the quicker the better
4) Make a priority proxy list
5) Apply/rotate

[2022-03-21 17:16] SerhiiZavalko opened #390 "Add http server listening port 8080 as parralel process in the App for Google Cloud Run compability"
I've deployed docker containers with db1000n on GCP Cloud Run, which serves ingress traffic preferably and bills ingress requests as well, therefore GCP trial account with Cloud Run consumes ~ 1USD/day per 10 containers.
But to deploy container in GCP Cloud Run I had to rebuild image with db1000n adding to it nodejs with express http server in order to comply [Cloud Run container contract](https:/

[2022-03-21 19:30] Arriven commented on #389
It's not implemented as a full blown feature but it's possible to achieve something of the following already by utilizing `--proxy` commandline flag. Accepts a comma separated list of proxies but actual jobs just take random entries from that list. The argument can be templated using go template engine similar to most parts of the remote config so you can hack it to update the list from time to ti

[2022-03-21 19:32] Arriven commented on #389
I'm not sure implementing full proxy rotation solution inside the app would be viable though, could be easier to setup a separate solution that would control proxies and just feed the list to db1000n

[2022-03-21 19:34] Arriven commented on #390
You can probably already utilize --pprof flag for that unless cloud run requires some specific API to be present

[2022-03-22 01:00] sivillakonski commented on #390
Hi @SerhiiZavalko, turning the `-enable-self-update` within the container won't work because it downloads and shuts down the current process in order to start a new process from a newer binary. The Docker sees that the process with PID 1 has finished, so it will simply restart it or even won't keep it up and running (depends on the restart policy).

[2022-03-22 10:18] avoylenko opened #392 "OOM on hardware with low RAM"
Hello!
I run the service on **RPi Zero** with just **512** of **RAM**, everything was okay, but starting from yesterday the service has started dying with OOM almost immediately as soon as it starts the jobs:

[code]

dmesg:
[code]

[2022-03-22 14:24] Arriven commented on #392
Ah, yes, I didn't kickoff the release yet, will do it once the air hazard alarm ends 😅

[2022-03-22 14:33] Fahrenheit2539 opened #394 "Why encrypted jobs?"
One of the jobs in the config is encrypted.

`    {
      "type": "encrypted",
      "args": {
        "format": "json",
        "data":
...`

Base64 decoding shown following header:
`
age-encryption.org/v1
-> scrypt yKFNmP9oNK38ps7grEA12A 18
`

I'm curious why? That does not help to build the trust, I'm not going to recommend this tool to anyone (despite fully supporting its mission until) we fig

[2022-03-22 15:25] Arriven commented on #394
@Fahrenheit2539 you have an option to skip those jobs completely via `--skip-encrypted` commandline flags (see [implementation](https://github.com/Arriven/db1000n/blob/06d290b70c1b8818254fd5fcac53720cad8417ac/src/jobs/utils.go#L94-L96)) specifically so that you don't have to blindly trust me or other maintainers but there are multiple benefits to having encrypted jobs. I cannot really talk about a

[2022-03-22 16:39] UnitybaseExplorer opened #396 "How to understand if tcp-targets are under attack or not?"
Is there a way to see if tcp-targets are under attack or not? They are not logged in the output.

Custom config:
[code]
Log:
[code]

[2022-03-22 16:56] Arriven commented on #396
logs were added here https://github.com/Arriven/db1000n/commit/66b3c596749198fd96fe04ebfe8b8f73a5e86a65

[2022-03-22 16:56] #396 closed

[2022-03-22 17:41] #12 closed

[2022-03-22 17:42] Fahrenheit2539 commented on #394
Thanks, really appreciate quick response! Your arguments make sense, don't think you want to add more bureaucracy in this fast-moving process.

What would help is updating docs to briefly mention this. I'll send a PR in the evening (US time)

Sent from Outlook<https://aka.ms/qtex0l> Mail for Windows Mobile 11
________________________________
From: Bohdan ***@***.***>
Sent: Tuesday, March 22, 2022

[2022-03-22 19:25] #392 closed

[2022-03-22 20:40] Arriven commented on #394
I don't think that it would require a lot of bureaucracy, especially on my side. I would most likely delegate the trust establishment to someone else (whom I already trust).

And it would be beneficial to get some feedback from experts anyway at some point - I plan to continue working on this project even after the war ends, haven't seen any open tools that allow orgs to easily stress test their D

[2022-03-23 05:46] Fahrenheit2539 commented on #394
Can send me an email to fahrenheit2539 at hotmail.com? Interested to discuss how can I help.

[2022-03-23 05:46] #394 closed

[2022-03-23 07:08] bitshape opened #399 "Encrypted jobs and Prometheus stats"
Assuming https://github.com/Arriven/db1000n/commit/620ba375b1ba5c13e439c0dfb88f3e2d0a3868b3 was removed so that wouldn't be possible to inspect encrypted config by polling from Prometheus server, this still leaves a possibility of indirectly observing encrypted config by setting up own Prometheus push server and overriding `PROMETHEUS_GATEWAYS` to be non-default.

If this is correct assumption, ma

[2022-03-23 08:49] Arriven commented on #399
the thing is that we can't secure everything and it's just a question of slowing down those who want to get access to the encrypted config. You need to set up your own prometheus cluster in order to leverage this data leak but at that point you can probably get more info by inspecting the traffic generated by the app with some external tools. As for disabling polling endpoint - I've removed that b

[2022-03-23 08:49] #399 closed

[2022-03-23 09:57] Lagovas commented on #379
for what you need it?
looking on such random nickname It looks strange. Personally, I prefer to close such issues from bots with strange requests)

[2022-03-23 17:55] JeyM1 opened #401 "Failed to unmarshal job configs, will keep the current one: invalid character '}' looking for beginning of object key string"
Full log:
[code]

Running on Ubuntu x86_64 (DigitalOcean droplet)

[2022-03-23 18:05] DangelZM commented on #401
Same issue for

[2022-03-23 18:10] ahalan commented on #401
Same on Apple silicon M1

[2022-03-23 18:15] oholubovskyi commented on #401
Looks like its old version (v0.7.12).

Try the latest version https://github.com/Arriven/db1000n/releases/tag/v0.8.2

[2022-03-23 18:15] asu-talk commented on #401
The issue reason is incorrect configuration json - redundant commas.
While the issue is not fixed by the channel administrators we can (as a workaround):
1. download configuration json manually (url is visible in the terminal)
2. open some online tool to verify json and save result locally
3. use -c command line argument to use sanitized configuration. For example:
   ./db1000n -c config/config.js

[2022-03-23 18:16] oholubovskyi commented on #401
the latest version works without errors on Windows machine.

[2022-03-23 18:18] asu-talk commented on #401
This issue is reproducible on linux.. but you are right - it is old version. Will check with new one. Thanks!

[2022-03-23 18:50] RydIgorOk opened #402 "not work, does not start"
![image](https://user-images.githubusercontent.com/22442729/159774068-b67b5dca-a98d-4866-a9d8-eac0827141f0.png)

[2022-03-23 18:51] JeyM1 commented on #401
On newest version all is fine, thanks

[2022-03-23 18:51] #401 closed

[2022-03-23 18:58] #402 closed

[2022-03-23 18:59] RydIgorOk commented on #402
you need to disable your antivirus

[2022-03-23 19:15] alexdanger commented on #377
i suggest to add also graviton instances, as they have lowest prices and better cpu/mem throughput.

[2022-03-24 09:11] #389 closed

[2022-03-24 09:12] Arriven commented on #386
Closing this as #12 was already fixed

[2022-03-24 09:12] #386 closed

[2022-03-24 09:13] #382 closed

[2022-03-24 14:35] Luceoria opened #408 "Full CPU use, errors in the debug output"
I've noticed 100% CPU usage - all cores are fully occupied.

using the -debug switch, following logs can be noticed:
 {"error": "dial tcp: lookup xx.xx.xx.xx : no such host"}
 {"error": "HostClient can't follow redirects to a different protocol, please use Client instead"}

Is this related to the newest config file?

[2022-03-24 15:32] kurlyk-dev opened #409 "Is adv config still relevant?"
Is [adv config](https://raw.githubusercontent.com/db1000n-coordinators/LoadTestConfig/main/config.adv.json) still relevant?
It hasn't been updated for 4 days, maybe I should switch to the common config?
But I'am running a big fleet of instances on AWS, maybe it's risky, my previous account was suspended after using common config.
WDYT?

[2022-03-24 15:57] Luceoria commented on #408
[v0.8.1](https://github.com/Arriven/db1000n/releases/tag/v0.8.1) does not seem to have this issue.

[2022-03-24 16:19] dzhonzojdberg commented on #379
Hi, not a bot, a real person, actively using your program, by the way, thank you for it, it is a great job for good, I realized that it connects to Prometheus servers, there is no possibility to deploy your own, and not enough knowledge, but I would like to see the general statistics, graphics, success or failure, it will give a more correct understanding of its work, as well as the motivation to

[2022-03-24 16:32] Arriven commented on #409
Hey, advanced config is no longer relevant as since v0.8.0 the app has a filter to disable non-advanced jobs (it's not present in default config yet because we don't use jobs that are affected)

[2022-03-24 16:40] Arriven commented on #408
Errors are caused by a typo here https://github.com/db1000n-coordinators/LoadTestConfig/blob/main/config.v0.7.json#L177
(Extra space), will fix in couple of minutes but it only affects one of the targets. I'll try to see what's the cause of that CPU usage though

[2022-03-24 17:04] ignitedevua opened #410 "Please create a support group"
a lot of people faced with problems like this:
<pre>
!Атака проводиться успішно! Руський воєнний корабль іди нахуй!
!Attack is successful! Russian warship, go fuck yourself!
---------Traffic stats---------
 [     Generated ] 39643.71 MB | 41569447185 bytes
 [      Received ]     0.09 MB |       96869 bytes
 [ Response rate ]      0.0%
-------------------------------
</pre>
why 0.0% ? how to fix? w

[2022-03-24 17:58] Arriven commented on #410
Low response rates usually mean that targets can't manage the load we're producing

[2022-03-24 19:19] asu-talk opened #412 "Incorrect traffic stats calculation"
With the latest version, I see that db1000n generates a lot of traffic (assume this means outgoing traffic).
But bmon shows much smaller numbers:

![image](https://user-images.githubusercontent.com/54418113/159993656-a5e3dcaf-9dac-4a7b-bff3-c80415a714a7.png)

Could you please confirm that it`s just an issue with stats calculation?

UPD: seems that this relates to the issue:
[issue 408](https://git

[2022-03-24 19:21] #409 closed

[2022-03-24 20:03] Arriven commented on #412
yes, this is indeed am issue with stats calculation. This particular issue happens only with http jobs (which are the only ones being used in the config right now AFAIR). Any http request is done via an underlying tcp connection which has to be established before the request can be sent over the network (the connection can be reused between requests though). Whenever I try to send an http request

[2022-03-24 20:11] Arriven commented on #412
#408 should be already fixed for couple hours at least (although yes, that would explain that difference as the error would happen locally even before the app tries to establish the connection and I should probably detect that better)
Do you still see this behavior?

[2022-03-24 20:15] asjustis opened #413 "DigitalOcean best app country/region select"
Just launched db1000n instance on DigitalOcean. Attacks are logged as successful, but the response rate is simply 0.0%, so I am not sure it actually reaches the targets correctly.

Thinking to switch it to another region, to a country that russia might have not restricted internet access yet. Thinking of Singapore since it's in Asia. Any tips on which region would be best?

Here's the list for ref

[2022-03-24 20:18] asu-talk commented on #412
Thank you for your time and effort!

Yep, I still see this issue.
Version and configuration:

DB1000n [Version: v0.8.2]
Loading config from "https://raw.githubusercontent.com/db1000n-coordinators/LoadTestConfig/main/config.v0.7.json"

OS details: Linux 5.16.0

[2022-03-24 20:32] Arriven commented on #412
ah, ok, that one is a protocol mismatch in another recent optimization introduced to bypass this (https://github.com/Arriven/db1000n/issues/365#issuecomment-1070974009). Fixed it on the config side, will think of a way to detect it better tomorrow

[2022-03-24 20:38] Arriven commented on #412
(it might take some time for the config to get populated to all cdn servers though)

[2022-03-24 20:49] asu-talk commented on #412
Thank you!

[2022-03-24 20:49] #412 closed

[2022-03-24 20:54] Arriven commented on #412
actually went ahead and fixed it today :D
https://github.com/Arriven/db1000n/commit/386944f37987fc3af60fda634b5e194ffad9f765

[2022-03-24 23:39] ignitedevua opened #415 "Google colab suggestion"
* free
* no VPN required
* Google Account required
* no local network load
* up to 5 copies for each G-account (in separate tabs)
* up to 12 hrs online  (free limitation)

db1000n v0.8.2
https://colab.research.google.com/drive/1pqzNe9KvqTsDTb_Xn7ra8gYqpgOsFxIi?usp=sharing
Runtime -> run all

[2022-03-24 23:40] ignitedevua commented on #415
file may be blocked, so save a copies to your G-disk first

[2022-03-25 00:54] oleksiikoshlatyi opened #416 "Build Android APK file to provide the huge possibility to attack via ru phone owners."
I'm suggesting, this is a possible solution
https://pkg.go.dev/golang.org/x/mobile/cmd/gomobile

[2022-03-25 07:10] Wendors commented on #416
This link does not work

[2022-03-25 09:57] asjustis commented on #413
Ah, yes, I changed to Singapore (sgp) region, and now I have `[ Response rate ] 86.8%` instead of 0.1%. Maybe that helps somebody. Closing :)

[2022-03-25 09:57] #413 closed

[2022-03-25 11:03] localdotcom opened #419 "EnablePrimitiveJobs parameter question"
I'm running db1000n on AWS EKS using helm chart. Under container log I see following message
`{"level":"info","ts":1648202330.9562292,"caller":"runner/runner.go:152","msg":"There is a filter defined for a job but this client doesn't pass it - skip the job"}`
I guess it happens because Docker image has argument `"--enable-primitive=false"` in `ENTRYPOINT` and at the same time `config.v0.7.json` def

[2022-03-25 11:04] Arriven opened #420 "Fix install.sh to work with goreleaser produced artifacts"
Goreleaser introduces a lot of useful features but it uses different checksums format (sha256 with all sums in one file) and we need to adapt the script to it

[2022-03-25 11:08] Arriven commented on #419
it is expected behavior. udp jobs use a lot of traffic and are easily detected, this has led to some issues in the past (high cloud costs and people being banned bc clouds thought their machines were compromised). you can use regular image instead of advanced one if you want to utilize the full power of db1000n but do it at your own risk

[2022-03-25 11:13] Arriven opened #421 "Change cloud guides and deployments to use regular image with ENABLE_PRIMITIVE=false"
I want to get rid of advanced image bc it takes more than 20 minutes to build it (compared to 3-4 minutes when building regular one with ko). It's possible to make advanced image use ko for build as well but considering all the differences between advanced and regular images (just 1 param) having different images is an overkill

[2022-03-25 11:14] Arriven commented on #419
that being said, it's probably better to just discontinue advanced image in favor of setting this parameter in all the guides and deployments, see #421

[2022-03-25 11:17] localdotcom commented on #419
Thank you! BTW when I'll run ~20 pod replicas will it compromised? How much pod replicas can I run safely?

[2022-03-25 11:24] Temu4 opened #422 "Incorrect zipping for Window platform"
<img width="882" alt="Screen Shot 2022-03-25 at 12 23 30" src="https://user-images.githubusercontent.com/42999342/160112305-241e2b21-b828-44e5-82a1-b88de62a6e10.png">

[2022-03-25 11:51] stalkerdp500m commented on #415
Error first step

Downloading an archive...
curl: no URL specified!
curl: try 'curl --help' or 'curl --manual' for more information

[2022-03-25 12:20] Arriven commented on #422
fixing (should be ok since 0.8.6 which is being built now)

[2022-03-25 12:27] #422 closed

[2022-03-25 12:29] Arriven commented on #419
hard to tell, the traffic that is produced by advanced images shouldn't be qualified as DDoS without manual inspection. It kinda behaves as a misconfigured/poorly designed API at best

[2022-03-25 12:31] Arriven commented on #415
@stalkerdp500m the issue is caused by #420 - hopefully will fix it today (worst case tomorrow)

[2022-03-25 12:53] ykerb2 opened #423 "Is checksum file correct since the last update about at 13h30 CET ?"
Did i do wrong with my md5sum program ?

[2022-03-25 12:56] OleksandrBlack opened #424 "Підтримка проксі"
https://github.com/Arriven/db1000n/issues/389

Завжди актуальний список проксі який використовується для спільної мети.
https://github.com/porthole-ascend-cinnamon/mhddos_proxy/blob/820defda23342fdaf90f2149d94b3464099d155b/runner.py#L15

Розробник
https://github.com/porthole-ascend-cinnamon

[2022-03-25 12:58] Arriven commented on #423
as of v0.8.4 the correct way to validate checksum is with `sha256sum` (or `shasum -a 256` on darwin)

[2022-03-25 12:59] Arriven commented on #415
should be fixed now

[2022-03-25 13:00] Arriven commented on #423
see install.sh for more details

[2022-03-25 13:00] Arriven commented on #420
fixed in 8dae06b02395e2771832f903da4b7615111d0490

[2022-03-25 13:00] #420 closed

[2022-03-25 13:05] stalkerdp500m commented on #415
Thanks

[2022-03-25 13:12] Luceoria commented on #408
I might be mistaken here, but it looks like CPU resources are eaten by frequent DNS lookups for a non-existent host. Perhaps we should not query the DNS again if we already know the FQDN does not exit. Or at least implement a counter or time-based condition so DNS server is not hammered with hundreds of requests per second.

[2022-03-25 13:21] ykerb2 commented on #423
tks

[2022-03-25 13:21] #423 closed

[2022-03-25 13:33] Amet13 commented on #421
@Arriven does it mean that we just need to pass `ENABLE_PRIMITIVE=false` to the container as env variable?

[2022-03-25 13:35] stiltjack opened #427 "Russian warship"
Any chance of getting rid of the "go fuck yourself"? It was funny the first time, less so the 500th time. How will people take you seriously?

[2022-03-25 13:37] Arriven commented on #408
@Luceoria not really, that errored host was using a raw ip address so no dns query was done. it was just failing to parse it locally and since local parsing is almost instant it was able to perform those tries hundreds of thousands times per second (due to the nature of the app we don't fail on error in the attack loop but just continue with the next iteration). Ideally it would be better to make

[2022-03-25 13:40] Arriven commented on #421
@Amet13 yes. That would also remove the need for Dockerfile

[2022-03-25 13:46] Arriven commented on #427
yes, but after the war ends. Right now I consider that message to be more of a tribute rather than just something funny (google the origin if you want)

[2022-03-25 13:46] #427 closed

[2022-03-25 13:49] Luceoria commented on #408
Understood. I had this impression since one of the hosts from the config file does not have a DNS record, as a result I have hundreds of DNS lookups per sec and CPU usage around 30-40%. If I customize the config by removing the host entries, CPU is brought down to ~5%.

[2022-03-25 13:54] Arriven commented on #408
@Luceoria you are using custom config for that, right? if you mainly use http jobs you can utilize `client.static_host` parameter to set predefined address and tls usage (http vs https) for a target and still have proper Host header being sent. It's not in docs yet but you can take a look at config/examples/http-host.yaml

[2022-03-25 13:59] localdotcom commented on #419
Thanks!

[2022-03-25 13:59] #419 closed

[2022-03-25 14:05] Luceoria commented on #408
I am using this one:
https://github.com/db1000n-coordinators/LoadTestConfig/blob/main/config.v0.7.json

Just removed the sections with "jira8.cdek.ru" since this host does not resolve. This brought the CPU usage back to normal.

[2022-03-25 14:25] #421 closed

[2022-03-25 14:28] oleksiikoshlatyi commented on #416
The link is working
![image](https://user-images.githubusercontent.com/32518348/160140091-d5f1c7ef-2685-44a2-86be-15389be16048.jpeg)

[2022-03-25 14:30] Arriven commented on #408
Hm, weird, which executable version do you use? The "static_host" feature was added in v0.8.2 and as far as I see it should be used there. If your version is up to date can you send some logs my way bc I'm out of ideas?

[2022-03-25 14:36] Arriven commented on #416
Seems like an interesting idea, but based on my limited experience with mobile it's likely that the main problem will be crafting a manifest with all the required permissions to use low level attacks, otherwise there might be existing solutions that are better suited for the use case (I've been looking into making a webassembly build and hosting a web version some time ago but it turns out that th

[2022-03-25 15:25] oleksiikoshlatyi commented on #416
The requirements (allow application to use network) will not be an issue.
APK file can be distributed by many ways, even without play market (or others applications catalogs).
BTW, almost everyone has old (2-3 years old) Android phone, that can be used as well as VM rented in public cloud providers.

But with mobile app we have opportunities to use ru phones, in case delivery APK file to mind-full

[2022-03-25 15:29] Luceoria commented on #408
I use v0.8.1.

[2022-03-25 16:18] Luceoria commented on #408
Ok, could not replicate this problem on a newest 0.8.7. Going to production.

[2022-03-25 16:18] #408 closed

[2022-03-25 18:39] Arriven commented on #410
Probably best to just add that last sentence to FAQ

As for support group - there no groups dedicated to just this tool alone but considering the spread of it you can probably get some initial help in [IT Army of Ukraine](https://t.me/itarmyofukraine2022) (I'll probably add this to the config repo since it's more relevant there)

[2022-03-25 18:48] Arriven commented on #410
fe0c8c90e1178e57408031c7e85baf1cb1352f79 for the FAQ part

[2022-03-25 21:38] mimihagi commented on #416
Building and running db1000n in [termux](https://termux.org) works without issues. Steps are:

1. install termux
2. install golang (`apt update && apt install golang`)
3. clone and compile db1000n: `git clone https://github.com/arriven/db1000n && cd db1000n && make`
4. Run db1000n: `./db1000n`

I've run db100n on a phone with termux (as nonroot user) as well as a rpi for the last couple of weeks a

[2022-03-25 22:54] khardho120777 commented on #153
bahala kayo sa buhay mo problema nyu na yan masstress lang ako sainyo

[2022-03-26 09:51] Luceoria opened #432 "Traffic stats are not displayed"
## Expected Behavior

"Traffic stats" banner displayed periodically.

## Actual Behavior

"Traffic stats" banner not displayed.
The only visible logs are:
config.go:63: Loading config from "https://raw.githubusercontent.com/db1000n-coordinators/LoadTestConfig/main/config.v0.7.json"
runner.go:119: The config has not changed. Keep calm and carry on!

## Steps to Reproduce the Problem

  1. ./db1000n

[2022-03-26 10:13] oleg-bronzhaiev opened #433 "There is no any status indication in the Console output whether an attack is successful or not"
## Expected Behavior
**There is** some status indication in the Console output whether an attack is successful or not.
At least, this could be fixed to the indication as it was in the prev version db1000n-**v0.8.2**-windows-amd64:
"Атака проводиться успішно! Руський воєнний корабль іди нахуй!"

## Actual Behavior
**There is no** any status indication in the Console output whether an attack is succ

[2022-03-26 10:20] dberezhnenko opened #434 "App crashed on some azure linux vw"
When i run application with default config it halt after some target with output "Killed"
-debug option doesnt show anything.

Last attacked target could be different on several runs in row.
Problem repeated at several WM without any logic. Just today I stopped one process (which worked all nigth) and got this error after next start.

Example:
./db1000n -c ./config/config.json
...
2022/03/26 10:10

[2022-03-26 10:34] tvoretsmira commented on #432
The same behavior is observed for Windows 7 x64.

[2022-03-26 10:53] tvoretsmira opened #435 "Error while fetching config"
## Expected Behavior
The config is expected to be fetched.

## Actual Behavior
2022/03/26 10:47:04.100470 config.go:58: Failed to fetch config from "https://ra
w.githubusercontent.com/db1000n-coordinators/LoadTestConfig/main/config.v0.7.jso
n": Get "https://raw.githubusercontent.com/db1000n-coordinators/LoadTestConfig/m
ain/config.v0.7.json": context deadline exceeded

## Steps to Reproduce the Pr

[2022-03-26 11:15] Arriven commented on #433
Fixed in #436

[2022-03-26 11:18] Arriven commented on #434
Most likely it's being killed due to OOM, you can try disabling Prometheus and encryption to decrease memory usage and leave only essential functionality. There's been an instruction in one of the issues already but tag me if you can't find it - I'll take a look when I have some more time

[2022-03-26 11:20] Arriven commented on #432
Fixed in #436
The issue was there from the very beginning but only manifested now due to issues with Google analytics backend, we've changed the code to output logs regardless of that

[2022-03-26 11:22] Arriven commented on #435
Can you check if you can access that URL in browser or with curl? Most likely this is a connection problem (could be caused by VPN, I can point you to possible workarounds in that case)

[2022-03-26 12:21] Staskkk commented on #331
@FPavlovskiy I started the app on my Raspberry using ssh and screen, I'm not sure if Raspberry owners would want to reflash their sd cards entirely

[2022-03-26 14:04] QyuriLa opened #438 "Download links in docs are broken"
## Expected Behavior

The download links work properly.

## Actual Behavoir

The download links lead you to Not Found page.

## Additional Information

Since 854f943f1964376dea4c0873fd8e10a781d663be commited, the filename scheme of released files have changed so that their version fields no longer have `v` prefix, as documented in [GoReleaser docs](https://goreleaser.com/customization/templates/?h

[2022-03-26 14:30] Arriven commented on #438
Oops, forgot about that one, will fix shortly

[2022-03-26 14:40] SomalianCoolhacker commented on #424
За власним спостереженням додам, що переважна частина спільнот перейшла на цю програму саме завдяки відсутності мороки з VPN.
Звісно, ті хто тямить прикрутять OpenVPN чи ротацію проксі прямо в Docker і т.п., але, гадаю, для більшості це буде складно, навіть з гуглом під рукою.
А ще якщо враховувати, що машин десятки, то взагалі завал все налаштовувати

[2022-03-26 15:02] Pandanom opened #439 "Updater dont work in docker-compose"
## Expected Behavior
db1000n in updater mode, should fetch configuration bypassing VPN and store it in shared volume

## Actual Behavior

Creating network "db1000nexpvpn_default" with the default driver
Creating db1000nexpvpn_updater_1 ... error
Creating autoheal                ... done
Creating expressvpn              ... done

ERROR: for db1000nexpvpn_updater_1  Cannot start service updater: OCI

[2022-03-26 15:26] Luceoria commented on #432
Just tested and v0.8.9 works ok, closing.

[2022-03-26 15:26] #432 closed

[2022-03-26 15:41] tvoretsmira commented on #435
Upgraded to v0.8.9, issue persists.
I cannot access URL from Google Chrome when VPN is turned on. But I can do it if VPN is off.
I have tried another country in VPN. Google Chrome was able to load URL after looong wait. And db1000n.exe is producing new type messages:
2022/03/26 15:33:05.237031 config.go:58: Failed to fetch config from "https://ra
w.githubusercontent.com/db1000n-coordinators/LoadTe

[2022-03-26 15:48] Arriven commented on #439
@bitshape AFAIR you've been doing this docker compose? Can you take a look while I'm in a bunker?

[2022-03-26 15:55] Arriven commented on #439
Ah wait, I think I know what could be the cause, can you try changing compose to use entrypoint instead of command or vice versa? (excluding exe name and leaving just arguments)
Or alternatively there should be an environment variable that you can use that would be even better

[2022-03-26 15:57] Arriven commented on #439
https://github.com/Arriven/db1000n/blob/main/src/runner/config/updater.go#L15
This one, it's more common to configure containers via environment variables rather then commandline flags and most other guides already use that

[2022-03-26 16:28] Pandanom commented on #439
Like this?
It starts as regular db1000n
`    updater:
        image: ghcr.io/arriven/db1000n:latest
        restart: unless-stopped
        labels:
          autoheal: "true"
        #entrypoint: "./db1000n --updater-mode"
        command: bash -c "./db1000n --updater-mode"
        volumes:
          - ./config:/usr/src/app/config:z
        environment:
          UPDATER_DESTINATION_CONFIG: "confi

[2022-03-26 16:33] Arriven commented on #439
@Pandanom something like this

[code]

[2022-03-26 16:34] Arriven commented on #439
I have a feeling that healthcheck could be broken also since I've switched to a distroless image

[2022-03-26 16:41] bitshape commented on #439
@Arriven I’m taking a look

[2022-03-26 17:39] dberezhnenko commented on #434
it seems your advice helpped.
With options
-prometheus_on=false -skip-encrypted=true
app is working!

[2022-03-26 17:39] #434 closed

[2022-03-26 19:23] Arriven commented on #438
Should be fixed now

[2022-03-26 19:24] #433 closed

[2022-03-26 19:25] #390 closed

[2022-03-26 19:29] Arriven commented on #379
@dzhonzojdberg you can use Prometheus endpoint if you use unencrypted build (i.e. you build the app from source) it's available at ":9090/metrics" when `--prometheus_on` is set to true (it's set to true by default)

[2022-03-26 19:29] #365 closed

[2022-03-26 20:32] bitshape commented on #439
@Arriven check linked PR. I don't think it's `ko` issue, it's just that `--updater-mode` exists when it should not.

[2022-03-26 20:38] bitshape commented on #439
@Pandanom in addition to the fix proposed above, I think your config also needs some changes:

[code]

The important parts:

- both updater and regular db1000n container need to point to the same volume
- normal db1000n container needs `CONFIG: "config/config.json"`, otherwise it will load config from Github

[2022-03-26 20:53] PerchunPak commented on #439
@bitshape seems like you looking to old config, here all real changes that you made (comparing with upstream):
![Untitled](https://user-images.githubusercontent.com/68118654/160256664-26afb7dc-7273-4f70-a360-924730b8cdc7.png)
Also you moved some sections and add tag `latest` to images.

[2022-03-26 20:59] bitshape commented on #439
@PerchunPak 👍 none of those parts are required and really depend on your particular setup so I omitted them from my suggestion on purpose.

[2022-03-26 21:11] bitshape commented on #439
@Arriven you might be right about `ko` but it doesn't seem to be related to the healthcheck.

v0.8.3 (pre ko build) Docker container runs fine
v0.8.4 (ko introduced) this version isn't published
v0.8.5 (built with ko) fails with the following config:

[code]

Error:

[code]

[2022-03-26 21:41] bitshape commented on #439
Part 2 of the fix: https://github.com/Arriven/db1000n/pull/442

1) If you're using health check for Docker containers, this is no longer is going to work
2) Volume mount path needs to be changed (main binary lives in `/ko-app` now, not `/usr/src/app`)
3) `UPDATER_DESTINATION_CONFIG` needs to be explicitly passed to updater

[2022-03-27 03:35] QyuriLa commented on #438
Thank you!

[2022-03-27 03:35] #438 closed

[2022-03-27 05:36] #439 closed

[2022-03-27 09:52] mrdrebot opened #443 "Problem in v.0.8.9"
## Expected Behavior
Turn on VPN and start file db1000n.exe, all should work.

## Actual Behavior
I use VPN in Chrome - Browsec VPN - Free VPN for Chrome and it work. I got new window with the list of th VPNs. In v.0.8.8 all worked good with this VPN and I didn`t get any window. If I stated db1000n.exe all work.
When I tried to used ClearVPN, promocode don`t work.

## Steps to Reproduce the Proble

[2022-03-27 10:26] michaelKaefer commented on #435
Same here (using not Windows but Ubuntu):
[code]

I can access the URL with VPN enabled:
[code]

[2022-03-27 10:52] Geniy00 commented on #443
I think that chrome extension doesn't mean that other apps on your PC use VPN.
You need to run special VPN program for Windows, then db1000n will really use VPN

[2022-03-27 11:09] Arriven commented on #443
There shouldn't be any significant difference between 0.8.8 and 0.8.9 so I'm almost completely sure the problem is related to the vpn setup itself but I'll take another look

[2022-03-27 11:15] Arriven commented on #435
@michaelKaefer you can try running the container with --network host or you can try a solution with one instance of db1000n running as updater publishing local copy of the config fetching it without vpn, but that's more complex

[2022-03-27 11:19] industral opened #444 "Service "updater" is missing a healthcheck configuration"
running docker-compose get the following issue

[code]

[2022-03-27 11:23] Arriven commented on #435
@tvoretsmira I'll try to write a quick command that would allow you to use a set of http proxies instead of relying on VPN but that might be less effective

[2022-03-27 11:32] Arriven commented on #444
@bitshape seems like "service_started" condition also requires a healthcheck to be defined. I suggest we just enable pprof endpoint on it and use that endpoint/port availability as a healthcheck? Not sure how that works with docker compose though as I only did that with k8s

[2022-03-27 11:36] serg-music commented on #287
@Arriven
v.0.8.10.

The issue still exists.
After db1000n is started the CPU load hits 800%.

Statistics seems messed up:
<img width="1119" alt="Снимок экрана 2022-03-27 в 13 34 44" src="https://user-images.githubusercontent.com/99654151/160279588-5b05253c-3c9b-434f-83d7-d33c1f777b65.png">

[2022-03-27 11:40] Arriven commented on #287
@serg-music what does it output when you just start it? Are there any errors about loading the config from github? Can you enable debug logs and send them here?

[2022-03-27 11:54] serg-music commented on #287
Here is the output after the start:

<img width="1093" alt="Снимок экрана 2022-03-27 в 13 43 41" src="https://user-images.githubusercontent.com/99654151/160279896-946211ff-1f20-4007-9f05-6a04f491f91e.png">

The list continues for about 830 rows with the same targets.

db1000n -debug produces the huge (thousands or probably millions) amount of these rows:

2022-03-27T11:49:45.740Z	DEBUG	jobs/http.g

[2022-03-27 11:58] serg-music commented on #287
[log_287.txt.zip](https://github.com/Arriven/db1000n/files/8357511/log_287.txt.zip)
Debug logs collected after 1s of the run

[2022-03-27 12:16] Arriven commented on #287
Ok, I see where this is coming from, seems like an issue with lower end systems that due to the nature of default error handling leads to even more load being generated (vicious circle). I'll see whether I can detect this specific error and handle it in a better way or if I need to provide a way for people to "downscale" the load and prevent this from happening

[2022-03-27 12:18] serg-music commented on #287
The system is hi-end (Macbook pro m1 pro-2021). Probably the problem in my limit setting.

[2022-03-27 12:37] Arriven commented on #287
ah, yes, that seems more like it, although it shouldn't create that much connections (current config uses around 800-900 if I'm not missing anything). Unless your ulimit is in that range or you scale the app up (either by running multiple instances or via `--scale` argument) I might need to investigate this a bit more. I'll work on better handling of this error or a way to downscale the app regard

[2022-03-27 13:10] serg-music commented on #287
ulimit -n 5000 solved the issue.

Not sure why the `file descriptors` is used. Probably the core generates the `file` that is somehow `read` during the sending request.

[2022-03-27 13:19] #443 closed

[2022-03-27 13:54] adronstar opened #447 "Руський — це не правильно"
Руський — це не правильно, бо Руський походить від слова Русь, тобто це історично — древня Україна, до чого росія не має жодного відношення.

Краще використовувати слово "русский", або "російський", чи "московитський"

**Русский воєнний корабль іди нахуй!**
**Слава Україні!**

[2022-03-27 14:06] Arriven commented on #287
On unix network connection is done via sockets and socket is very similar to a regular file. That's also true for pipes in your shell. Another cool thing in that regard is that there is /proc subfolder that looks like a filesystem but is actually an interface to the kernel to provide cpu and other system info

[2022-03-27 14:08] Arriven commented on #447
Already fixed in latest release AFAIR

[2022-03-27 14:24] Arriven commented on #447
Even better - it's fixed starting from v0.8.8

[2022-03-27 14:44] tvoretsmira commented on #435
A lot depends on VPN. v0.8.10 with VPN in China does not display any config fetching error.

[2022-03-27 15:33] Arriven opened #448 "Introduce exponential backoff to some jobs"
Due to the nature of the app we usually ignore errors in loops that are caused by network errors (in case targets are temporary unavailable). This causes CPU usage problems when the actual error happens completely locally due to a misconfiguration (i.e. errors parsing address or ulimit related errors). Detecting each of these cases and adding distinction between error types proves to take too much

[2022-03-27 15:35] Arriven commented on #448
I'll only be able to properly work on it myself tomorrow so if someone wants to jump in - feel free to do so

[2022-03-27 17:26] bitshape commented on #444
@Arriven @industral No, it definitely doesn't need health check to be define for `service_started`: https://docs.docker.com/compose/compose-file/compose-file-v2/#depends_on

My personal config below works with v0.8.10:

[code]

pprof is an interesting workaround but I think more reliable solution would be implementing ping/nslookup non-blocking go routine that will be used if a new option `--enabl

[2022-03-27 17:29] bitshape commented on #435
@tvoretsmira @michaelKaefer try following this example: https://github.com/Arriven/db1000n/blob/main/examples/docker/static-docker-compose.yml

This is exactly why I added updater mode to reliably bypass this issue.

[2022-03-27 19:04] andser opened #450 "Docker compose UPDATER_MODE type problem"
## Expected Behavior
Should successfully run containers

## Actual Behavior
`
$ docker-compose -f examples/docker/static-docker-compose.yml up
ERROR: The Compose file './examples/docker/static-docker-compose.yml' is invalid because:
services.updater.environment.UPDATER_MODE contains true, which is an invalid type, it should be a string, number, or a null
`

## Steps to Reproduce the Problem

  1.

[2022-03-27 20:12] #448 closed

[2022-03-27 20:21] bitshape commented on #450
@andser you can fix by changing it to UPDATER_MODE: “true”

In other words, wrap it in quotes.

[2022-03-28 04:58] tvoretsmira commented on #435
How do I use this file?

[2022-03-28 05:41] #450 closed

[2022-03-28 10:04] Arriven commented on #435
@tvoretsmira as of v0.8.12 you can use this command without VPN to use `porthole-ascend-cinnamon` proxylist instead:
`go run main.go --proxy '{{ join (split (get_url "https://raw.githubusercontent.com/porthole-ascend-cinnamon/proxy_scraper/main/proxies.txt") "\n") "," }}' --debug`

You can also replace the url with any other that would return a text file with a list of proxies but I've heard that

[2022-03-28 10:13] Arriven commented on #435
obviously you should use `./db1000n.exe` instead of `./db1000n` on windows and can use it with docker run by just appending that `--proxy` flag to the end of the appropriate command

[2022-03-28 10:16] Arriven commented on #424
You can also pass that argument via `SYSTEM_PROXY` environment variable, i.e. `SYSTEM_PROXY='{{ join (split (get_url "https://raw.githubusercontent.com/porthole-ascend-cinnamon/proxy_scraper/main/proxies.txt") "\n") "," }}' go run main.go`

[2022-03-28 10:17] Arriven commented on #424
Please note that it only works starting from v0.8.12 release as `split <string> "\n"` was a bit broken before that

[2022-03-28 10:56] tvoretsmira commented on #435
Current version of docker does not seem to support Win7 x64. I had no success installing it.
I'm still able to find VPN that causes no problems. Unfortunately, those VPN are not in Russia or Belarus. You wrote that VPN is more effective than proxy. Does it remain more effective when other countries are used?

[2022-03-28 11:54] OleksandrBlack commented on #424
https://github.com/Arriven/db1000n/commit/dbd53bfbb9e02357fcb8598e718366f663dc9e46

--proxy '{{ join (split (get_url "https://raw.githubusercontent.com/porthole-ascend-cinnamon/proxy_scraper/main/proxies.txt") "\n") "," }}'

SYSTEM_PROXY='{{ join (split (get_url "https://raw.githubusercontent.com/porthole-ascend-cinnamon/proxy_scraper/main/proxies.txt") "\n") "," }}' go run main.go

[2022-03-28 12:23] OleksandrBlack commented on #424
[Arriven](https://github.com/Arriven)
Doesn't work for Windows
![error](https://user-images.githubusercontent.com/13917465/160397035-de5617cb-7d83-44f8-8b23-747e51c5fcdd.jpg)

[2022-03-28 13:24] Arriven commented on #435
yes, in terms of effectiveness I'd put them in the following order:
1. VPN into "friendly" country
2. VPN into any country other than Ukraine
3. "Friendly" Proxies
4. Any non-Ukrainian proxies
5. No VPN or proxy at all (Ukrainian IP address)

[2022-03-28 15:44] OleksandrBlack commented on #424
![1](https://user-images.githubusercontent.com/13917465/160436291-1222470f-4217-4635-a1c2-89bcebd98820.jpg)
![2](https://user-images.githubusercontent.com/13917465/160436295-94a84473-81d9-45a2-872a-80d9c1933fef.jpg)

[2022-03-28 16:20] zlaya-sobaka commented on #416
Привет, мы с ребятами придумали как можно использовать вашу библиотеку для мобильных устройств Android
https://github.com/zlaya-sobaka/db1000n_mobile
с помощью библиотеки fyne https://github.com/fyne-io/fyne
Сейчас выкатили первую (примитивную) версию которую уже протестировали на мобильных устройствах https://drive.google.com/drive/folders/1boXqWfDEFhtsk6yKJLAULRp8LHee2uLJ?usp=sharing

В приложен

[2022-03-28 16:29] Arriven commented on #424
Yeah, proxies get down often. In mhddos it first tries to check if the proxy is working and only then starts using it for DDoS. My implementation just uses the proxy straight away and falls back to a different one if it fails (well, at least it should do that, there's a chance that there's a bug there). It does report the error but it's just to make it easier to detect broken proxies. Also compare